<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_detail.order_id %>
</p>

<p>
  <strong>Quatity:</strong>
  <%= @order_detail.quatity %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order_detail.product_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order_detail.price %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order_detail.total %>
</p>

<%= link_to 'Edit', edit_order_detail_path(@order_detail) %> |
<%= link_to 'Back', order_details_path %>
