<h1>Listing form10s</h1>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Usuario</th>
      <th>Field1</th>
      <th>Field2</th>
      <th>Field3</th>
      <th>Field4</th>
      <th>Field5</th>
      <th>Field6</th>
      <th>Field7</th>
      <th>Field8</th>
      <th>Field9</th>
      <th>Field10</th>
      <th>Field11</th>
      <th>Field12</th>
      <th>Field13</th>
      <th>Field14</th>
      <th>Field15</th>
      <th>Field16</th>
      <th>Field17</th>
      <th>Field18</th>
      <th>Field19</th>
      <th>Field20</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @form10s.each do |form10| %>
      <tr>
        <td><%= form10.cliente_id %></td>
        <td><%= form10.usuario_id %></td>
        <td><%= form10.field1 %></td>
        <td><%= form10.field2 %></td>
        <td><%= form10.field3 %></td>
        <td><%= form10.field4 %></td>
        <td><%= form10.field5 %></td>
        <td><%= form10.field6 %></td>
        <td><%= form10.field7 %></td>
        <td><%= form10.field8 %></td>
        <td><%= form10.field9 %></td>
        <td><%= form10.field10 %></td>
        <td><%= form10.field11 %></td>
        <td><%= form10.field12 %></td>
        <td><%= form10.field13 %></td>
        <td><%= form10.field14 %></td>
        <td><%= form10.field15 %></td>
        <td><%= form10.field16 %></td>
        <td><%= form10.field17 %></td>
        <td><%= form10.field18 %></td>
        <td><%= form10.field19 %></td>
        <td><%= form10.field20 %></td>
        <td><%= link_to 'Show', form10 %></td>
        <td><%= link_to 'Edit', edit_form10_path(form10) %></td>
        <td><%= link_to 'Destroy', form10, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form10', new_form10_path %>
