<%= form_for @capture do |f| %>
  <% if @capture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@capture.errors.count, "error") %> prohibited this capture from being saved:</h2>

      <ul>
      <% @capture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= hidden_field_tag :cliente_id, @cliente.id %>
    <%if @cliente.mensaje_configuracion.ticket.include?('Captura')%>
        <div class="form-group">
          <%= f.label :ticket, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :ticket, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>

    <%if @cliente.mensaje_configuracion.compania.include?('Captura')%>
        <div class="form-group">
          <%= f.label :compania, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :compania, class: 'form-control', :required => true %>
          </div>
        </div>

        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.polizaContrato.include?('Captura')%>
        <div class="form-group">
          <%= f.label :polizaContrato, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :polizaContrato, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.descripcionEmergencia.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Descripcion Emergencia", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_area :descripcionEmergencia, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.identificarSistema.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Identificar sistema", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :identificarSistema, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.referencia.include?('Captura')%>
        <div class="form-group">
          <%= f.label :referencia, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :referencia, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.comentariosExtra.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Comentarios extra", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :comentariosExtra, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.avisoNombre.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Aviso nombre", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :avisoNombre, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.avisoFecha.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Aviso fecha", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <div class="form-group" id="data_1">
              <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <%= f.text_field :avisoFecha, class: "form-control", :required => true%>
              </div>
            </div>
          </div>
          <%= f.label "Aviso hora", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5" style="width: 200px">
            <div class="input-group clockpicker" data-autoclose="true" >
              <%= f.text_field :avisoHora, class: 'form-control', :required => true%>
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </span>
            </div>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.notificoNombre.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Notifico nombre", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :notificoNombre, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.notificoFechaHora.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Notifico Fecha", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <div class="form-group" id="data_1">
              <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <%= f.text_field :notificoFecha, class: "form-control", :required => true%>
              </div>
            </div>

          </div>

          <%= f.label "Notifico Hora", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5" style="width: 200px">
            <div class="input-group clockpicker" data-autoclose="true" >
              <%= f.text_field :notificoHora, class: 'form-control'%>
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </span>
            </div>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>

    <%end%>
    <%if @cliente.mensaje_configuracion.rllsOperador.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Rep Llegada sitio (Operador)", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :rllsOperador, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.rllsFechaHora.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Rep Llegada sitio Fecha", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <div class="form-group" id="data_1">
              <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <%= f.text_field :rllsFecha, class: "form-control", :required => true%>
              </div>
            </div>

          </div>

          <%= f.label "Rep Llegada sitio Hora", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5" style="width: 200px">
            <div class="input-group clockpicker" data-autoclose="true" >
              <%= f.text_field :rllsHora, class: 'form-control'%>
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </span>
            </div>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.tiempoRespuesta.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Tiempo de respuesta", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5" style="width: 200px">
            <div class="input-group clockpicker" data-autoclose="true" >
              <%= f.text_field :tiempoRespuesta, class: "form-control", :required => true, :data => {:mask=> '9 99:99:99', :placeholder =>""} %>
              <span class="help-block">D HH:MM (Dias Horas : Minutos)</span>
            </span>
            </div>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.notificacionLlegadaSitio.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Notif Llegada a Sitio", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :notificacionLlegadaSitio, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.rteOperador.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Rte Operador", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :rteOperador, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.rteFechaHora.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Rte Fecha", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <div class="form-group" id="data_1">
              <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <%= f.text_field :rteFecha, class: "form-control", :required => true%>
              </div>
            </div>

          </div>

          <%= f.label "Rte Hora", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5" style="width: 200px">
            <div class="input-group clockpicker" data-autoclose="true" >
              <%= f.text_field :rteHora, class: 'form-control'%>
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </span>
            </div>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.situacionEmergencia.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Situacion Emergencia", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :situacionEmergencia, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.duracionEmeregencia.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Duracion emergencia", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <div class="col-sm-5">
              <%= f.text_field :duracionEmergencia, class: "form-control", :required => true, :data => {:mask=> '9 99:99:99', :placeholder =>""} %>
              <span class="help-block">D HH:MM (Dias Horas : Minutos)</span>
            </div>
          </div>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.faltaSuministroGas.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Falta suministro Gas", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :faltaSuministroGas, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.sucursal.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Sucursal", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.select :sucursal_id, options_for_select(@sucursales.collect { |sucursal|
                                                            [sucursal.nombre.titleize, sucursal.id] }), {}, { class: 'form-control m-b', style: "width:350px;" } %>


          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.tipoLlamada.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Tipo de llamada", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.select :tipoLlamada, options_for_select(Capture::TIPOLLAMADA.collect { |tipoLlamada|
                                                     [tipoLlamada.to_s.titleize] }), {}, {class:"chosen-select", style: "width:350px;" } %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.codigo.include?('Captura')%>
        <div class="form-group">
          <%= f.label :codigo, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :codigo, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.horaEnlace.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Hora enlace", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5" style="width: 200px">
            <div class="input-group clockpicker" data-autoclose="true" >
              <%= f.text_field :horaEnlace, class: 'form-control'%>
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </span>
            </div>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.medioSeEntero.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Medio se entero", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :medioSeEntero, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.terminoChat.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Termino chat Fecha", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <div class="form-group" id="data_1">
              <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <%= f.text_field :terminoChat, class: "form-control", :required => true%>
              </div>
            </div>

          </div>

          <%= f.label "Termino chat Hora", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5" style="width: 200px">
            <div class="input-group clockpicker" data-autoclose="true" >
              <%= f.text_field :terminoChat, class: 'form-control'%>
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </span>
            </div>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.codigoAcceso.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Codigo de acceso", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.number_field :codigoAcceso, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.codigoOrganizador.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Codigo organizador", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.number_field :codigoOrganizador, :class => 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.fijoMovil%>
        <div class="form-group" >
          <div class="checkbox checkbox-success checkbox-inline">
            <%= f.check_box :fijoMovil%>
            <%= f.label "Telefono fijo"%>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.telefonoOrigen.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Codigo organizador", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.number_field :codigoOrganizador, :class => 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.paisOrigino.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Pais origen", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.select :paisOrigino, options_for_select(Capture::PAIS.collect { |pais|
                                                     [pais.to_s.titleize] }), {}, {class:"chosen-select", style: "width:350px;" } %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.localidadOrigino.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Localidad origen", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :localidadOrigino, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.motivoDenuncia.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Motivo denuncia", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :motivoDenuncia, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.tipoDelito.include?('Captura')%>
        <div class="form-group">
          <%= f.label :delito, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :delito, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.puestoInvolucrado.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Puesto involucrado", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :puestoInvolucrado, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.resultadoEstatus.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Resultado estatus", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :resultadoEstatus, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.emailContacto.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Email contacto", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.email_field :emailContacto, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.marca.include?('Captura')%>
        <div class="form-group">
          <%= f.label :marca, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :marca, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.modelo.include?('Captura')%>
        <div class="form-group">
          <%= f.label :modelo, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :modelo, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.serie.include?('Captura')%>
        <div class="form-group">
          <%= f.label "No serie", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :serie, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.beneficiario.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Nombre beneficiario", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :beneficiario, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.contactoBeneficiario.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Contacto beneficiario", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :contactoBeneficiario, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.nombreFiado.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Nombre del fiado", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :nombreFiado, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.puestoFiado.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Puesto del fiado", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :puestoFiado, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.montoReportar.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Resultado estatus", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.number_field :montoReportar, class: 'form-control', :required => true, :step => "0.01" %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.enlazadaCorrectamente.include?('Captura')%>
        <div class="form-group">
          <div class="checkbox checkbox-success checkbox-inline">
            <%= f.check_box :enlazadaCorrectamente %>
            <%= f.label "Enlazada correctamente"%>
          </div>
        </div>

        <div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.intentosEnlace.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Intentos enlace", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.number_field :intentosEnlace, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>

    <%if @cliente.mensaje_configuracion.duracionLlamada.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Duracion de la llamada", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :duracionLlamada, class: "form-control", :required => true, :data => {:mask=> '9 99:99:99', :placeholder =>""} %>
            <span class="help-block">D HH:MM (Dias Horas : Minutos)</span>
          </div>
        </div>
        <br><br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.origenCodigoGami.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Origen codigo GAMI", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :origenCodigoGami, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.codigoGami.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Codigo GAMI", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :codigoGami, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.tipoEmergencia.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Tipo de emergencia", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :tipoEmergencia, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.empresaCodigoGami.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Empresa codigo GAMI", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :empresaCodigoGami, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.nomenclaturaSistema.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Nomenclatura de sistema", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :nomenclaturaSistema, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.personaRecibe.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Persona recibe", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :personaRecibe, class: 'form-control', :required => true %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.razonSocial.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Razon Social", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :razonSocial, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.rfc.include?('Captura')%>
        <div class="form-group">
          <%= f.label "RFC", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :rfc, class: 'form-control', :required => true, :max => '13' %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.ticketCliente.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Razon Social", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :ticketCliente, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.relacionPaciente.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Relacion paciente", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.select :relacionPaciente, options_for_select(Capture::FILIACION.collect { |relacionPaciente|
                                                     [relacionPaciente.to_s.titleize] }), {}, {class:"form-control m-b", style: "width:350px;" } %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.lugarTumor.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Lugar tumor", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :lugarTumor, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.institucionAtiende.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Institucion atiende", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :institucionAtiende, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.medicoTratante.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Medico tratante", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :medicoTratante, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.programaInteres.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Programa interes", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :programaInteres, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.club.include?('Captura')%>
        <div class="form-group">
          <%= f.label :club, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :club, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.handicap.include?('Captura')%>
        <div class="form-group">
          <%= f.label :handicap, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :handicap, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.redConecta.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Red que se conecta", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :redConecta, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.intensidadSenal.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Intensidad de señal", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.select :intensidadSenal, options_for_select(Capture::INTENSIDADSENAL.collect { |intensidadSenal|
                                                     [intensidadSenal.to_s.titleize] }), {}, {class:"form-control m-b", style: "width:350px;" } %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.ubicacionFisica.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Ubicacion fisica", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :ubicacionFisica, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.ipv4.include?('Captura')%>
        <div class="form-group">
          <%= f.label :ipv4, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :ipv4, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.macAddress.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Mac Address", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :macAddress, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.hotel.include?('Captura')%>
        <div class="form-group">
          <%= f.label :hotel, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :hotel, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.habitacion.include?('Captura')%>
        <div class="form-group">
          <%= f.label :habitacion, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :habitacion, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.usuario.include?('Captura')%>
        <div class="form-group">
          <%= f.label :usuario, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :usuario, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.contrasena.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Lugar tumor", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :lugarTumor, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.tiempoContrato.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Tiempo contrato", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <div class="col-sm-5">
              <%= f.text_field :tiempoContrato, class: "form-control", :required => true, :data => {:mask=> '9 99:99:99', :placeholder =>""} %>
              <span class="help-block">D HH:MM (Dias Horas : Minutos)</span>
            </div>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.dispositivo.include?('Captura')%>
        <div class="form-group">
          <%= f.label :dispositivo, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.select :dispositivo, options_for_select(Capture::DISPOSITIVO.collect { |dispositivo|
                                                     [dispositivo.to_s.titleize] }), {}, {class:"form-control m-b", style: "width:350px;" } %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.acuse.include?('Captura')%>
        <div class="form-group">
          <div class="checkbox checkbox-success checkbox-inline">
            <%= f.check_box :acuse%>
            <%= f.label :acuse%>
          </div>
        </div>

        <div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.fechaCirugia.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Fecha cirugia", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <div class="form-group" id="data_1">
              <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <%= f.text_field :fechaCirugia, class: "form-control", :required => true%>
              </div>
            </div>

          </div>

          <%= f.label "Hora cirugia", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5" style="width: 200px">
            <div class="input-group clockpicker" data-autoclose="true" >
              <%= f.text_field :fechaCirugia, class: 'form-control'%>
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </span>
            </div>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.hospital.include?('Captura')%>
        <div class="form-group">
          <%= f.label :hospital, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :hospital, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.tipoCirugia.include?('Captura')%>
        <div class="form-group">
          <%= f.label :cirugia, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :cirugia, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.especidalidad.include?('Captura')%>
        <div class="form-group">
          <%= f.label :especidalidad, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :especidalidad, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.paciente.include?('Captura')%>
        <div class="form-group">
          <%= f.label :paciente, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :paciente, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.cargoPersona.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Cargo persona", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :cargoPersona, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.telefonoMedico.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Telefono del medico", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :telefonoMedico, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.equipoEspecial.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Equipo especial", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :equipoEspecial, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.telefonoPaciente.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Telefono del paciente", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :telefonoPaciente, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.procedimiento.include?('Captura')%>
        <div class="form-group">
          <%= f.label :procedimiento, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :procedimiento, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.fechaProcedimiento.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Fecha procedimiento", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <div class="form-group" id="data_1">
              <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <%= f.text_field :fechaProcedimiento, class: "form-control", :required => true%>
              </div>
            </div>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.equipoDetenido.include?('Captura')%>
        <div class="form-group">
          <div class="checkbox checkbox-success checkbox-inline">
            <%= f.check_box :equipoDetenido%>
            <%= f.label "Equipo detenido"%>
          </div>
        </div>

        <div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.fianza.include?('Captura')%>
        <div class="form-group">
          <%= f.label :fianza, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :fianza, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.inclusion.include?('Captura')%>
        <div class="form-group">
          <%= f.label :inclusion, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :inclusion, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.codigoSeguridad.include?('Captura')%>
        <div class="form-group">
          <%= f.label :procedimiento, class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :procedimiento, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.numeroControl.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Numero de control", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :numeroControl, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.lineaValidacion.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Linea de validacion", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :lineaValidacion, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.tipoPoliza.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Tipo de poliza", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :tipoPoliza, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.telefonoFiado.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Telefono del fiado", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :telefonoFiado, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.direccionFiado.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Direccion del fiado", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :direccionFiado, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.lugarFianza.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Lugar de fianza", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :lugarFianza, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.vendedorFianza.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Vendedor fianza", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :vendedorFianza, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.formaPagoFianza.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Forma pago fianza", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.select :formaPagoFianza, options_for_select(Capture::FORMAPAGO.collect { |formaPago|
                                                     [formaPago.to_s.titleize] }), {}, {class:"form-control m-b", style: "width:350px;" } %>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <%if @cliente.mensaje_configuracion.audioconferenciaReporta.include?('Captura')%>
        <div class="form-group">
          <%= f.label "Audioconferencia reporta", class: 'col-sm-2 control-label'%>
          <div class="col-sm-5">
            <%= f.text_field :audioconferenciaReporta, class: 'form-control', :required => true%>
          </div>
        </div>
        <br><div class="hr-line-dashed"></div>
    <%end%>
    <div class="form-group">
      <%= f.label :status, class: 'col-sm-2 control-label'%>
      <div class="col-sm-5">
        <%= f.select :status, options_for_select(Capture::STATUS.collect { |status|
                                                        [status.to_s.titleize] }), {}, {class:"chosen-select", style: "width:350px;" } %>
      </div>
    </div>
    <br><div class="hr-line-dashed"></div>


  <div class="actions">
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
        <%if !@capture.cliente.nil?%>
            <%= link_to "Regresar", captures_consultar_path(@cliente.id), :method => :patch,  class:"btn btn-white"%>
        <%end%>

        <%= f.submit "Capturar", class: "btn btn-primary"%>
      </div>
    </div>
  </div>
    <br><div class="hr-line-dashed"></div>

<% end %>



<% content_for :javascript do %>

    <script type="text/javascript">
        $('.clockpicker').clockpicker();

        var config = {
            '.chosen-select'           : {},
            '.chosen-select-deselect'  : {allow_single_deselect:true},
            '.chosen-select-no-single' : {disable_search_threshold:10},
            '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
            '.chosen-select-width'     : {width:"95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });


    </script>
<% end %>
