<%= form_for(@capture) do |f| %>
  <% if @capture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@capture.errors.count, "error") %> prohibited this capture from being saved:</h2>

      <ul>
      <% @capture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :ticket, class: 'col-sm-2 control-label'%>
      <div class="col-sm-5">
        <%= f.text_field :ticket, class: 'form-control', :required => true %>
      </div>
    </div>

    <br><div class="hr-line-dashed"></div>
    <div class="form-group">
      <%= f.label :compania, class: 'col-sm-2 control-label'%>
      <div class="col-sm-5">
        <%= f.text_field :compania, class: 'form-control', :required => true %>
      </div>
    </div>

    <br><div class="hr-line-dashed"></div>
    <div class="form-group">
      <%= f.label :polizaContrato, class: 'col-sm-2 control-label'%>
      <div class="col-sm-5">
        <%= f.text_field :polizaContrato, class: 'form-control', :required => true %>
      </div>
    </div>



<br><div class="hr-line-dashed"></div>
  <div class="actions">
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
        <%= f.submit "Capturar", class: "btn btn-primary"%>
      </div>
    </div>
  </div>
<% end %>
