<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Procedimientos<small class="m-l-sm">Aqui tienes los procedimientos de:</small> <%=@cliente.nombre%>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <small class="m-l-sm">Ultima modificacion: <i class="fa fa-clock-o"></i> <%=@cliente.procedures.try(:order, "updated_at").last.try(:updated_at).try(:strftime, "%H:%M %P - %d.%M.%Y") %></small>

        </h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="fullscreen-link">
            <i class="fa fa-expand"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>

      <!-- procedimientos -->
      <div class="ibox-content">
        <div>
          <ul class="nav nav-tabs">
            <% @cliente.procedures.order(:number).each_with_index do |p, index| %>
                <li class="<%= index == 0 ? ("active"):("") %>"><a data-toggle="tab" href="#tabprocedure-<%=index+1%>"><%=p.name%></a></li>
            <%end%>
          </ul>
          <div class="tab-content">
            <br>
            <% @cliente.procedures.order(:number).each_with_index do |procedure, index| %>
                <div id="tabprocedure-<%=index+1%>" class="tab-pane <%= index == 0 ? (" active"):("") %>">
                  <div id="wizard-<%=index+1%>">
                      <% procedure.steps.order(:number).each_with_index do |step, index| %>
                          <h1><%= step.name %></h1>
                          <div class="step-content">
                            <div class="text-center m-t-md">
                              <p>
                                <%= step.detail%>
                              </p>
                            </div>
                          </div>
                      <%end%>
                  </div>
                </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">


        $(function() {

            $("#wizard-1").steps();
            $("#wizard-2").steps();
            $("#wizard-3").steps();
            $("#wizard-4").steps();
            $("#wizard-5").steps();
            $("#wizard-6").steps();
            $("#wizard-7").steps();
            $("#wizard-8").steps();
            $("#wizard-9").steps();
            $("#wizard-10").steps();

            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

        });

    </script>

<% end %>
