<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-lg-8">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Datos generales<small class="m-l-sm">de la cuenta:</small> <%=@cliente.nombre%> </h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content scrollable">

            <ul>
              <li><strong>Direccion: </strong><%=@direccion.calle%> <%=@direccion.numero%>, <%=@direccion.colonia%> <%=@direccion.delegacion%> <%=@direccion.cp%></li>
              <li><strong>Horario: </strong><small><%=@horario.horario_semana%></small>

              </li>
              <li><strong>Telefonos: </strong><%=@cliente.datosgenerale.telefono1%>
                <%if @cliente.datosgenerale.telefono2.nil? == false%>
                    , <%=@cliente.datosgenerale.telefono2%>
                <%end%>
              </li>
              <li><strong>Website: </strong><%=@cliente.datosgenerale.paginaweb%></li>
              <li><strong>Contacto: </strong><%=@contacto.nombre%></li>
              <li><strong>Giro: </strong><%=@cliente.datosgenerale.giro%>&nbsp;&nbsp;&nbsp;&nbsp;<a data-toggle="collapse" href="#dg" ><small>Ver mas ...</small></a></li>
            </ul>

          <div class="row">
            <div class="col-lg-12">
              <div id="dg" class="panel-collapse collapse ">

                  <ul>
                    <li>
                      <strong>Cliente desde: </strong><%=@cliente.datosgenerale.alta.to_s(:month_day_year)%>
                    </li>
                    <li>
                      <strong>Locacion: </strong><%=@cliente.datosgenerale.locacion%>
                    </li>
                    <li>
                      <strong>DID: </strong><%=@cliente.datosgenerale.did%>
                    </li>
                    <li>
                      <strong>Tel enrutados: </strong><%=@cliente.datosgenerale.telenrutados%>
                    </li>
                    <li>
                      <strong>FAX: </strong><%=@cliente.datosgenerale.fax%>
                    </li>
                    <%if @cliente.datosgenerale.tipocambio%>
                        <li><%=@cliente.tipoCambio%></li>
                    <%end%>

                    <li>
                      <strong>Sucursales:</strong>
                      <ul>
                      <% @cliente.sucursals.each do |sucursal| %>
                        <li><%if sucursal.direccion.matriz%>
                             <strong> Matriz: <%= sucursal.nombre%> </strong>
                          <%else%>
                              <%= sucursal.nombre%>
                          <%end%>
                           | Tel: <%=sucursal.telefono%>
                          <%if !Contacto.find_by_id(sucursal.contacto_id).nil?%>
                              | Gerente: <%=Contacto.find_by_id(sucursal.contacto_id).nombre%>
                          <%end%>
                          <%if !Contacto.find_by_id(sucursal.contactoprincipal_id).nil?%>
                              | Contacto: <%=Contacto.find_by_id(sucursal.contactoprincipal_id).nombre%>
                          <%end%>
                              | Domicilio: <%=sucursal.direccion.calle%>, <%=sucursal.direccion.numero%>
                          <%if !sucursal.direccion.colonia.nil?%>
                              , <%=sucursal.direccion.colonia%>
                          <%end%>
                              ,<%=sucursal.direccion.delegacion%>, <%=sucursal.direccion.cp%>
                              | Referencia: <%=sucursal.direccion.referencia%>
                              | Horario: <%= sucursal.horario.nil? == true ? (''):(sucursal.horario.horario_semana) %>
                        </li>
                            <br>
                     <%end%>
                      </ul>
                    </li>


                  </ul>


              </div>
            </div>
          </div>



        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Frase y Clave</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="panel-body">
            <div class="panel-group" id="accordion">

              <div class="panel panel-info">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Frase de contestación</a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <p><%=@cliente.datosgenerale.frase%> </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-warning">
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Clave de salida: <%=@cliente.datosgenerale.clavesalida%></a>
                  </h5>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>La clave de salida es: <%=@cliente.datosgenerale.clavesalida%> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
<!--  PROCEDIMIENTOS -->
    <%if @cliente.procedures.count > 0%>
        <%= render 'procedure' %>
    <%else%>
        <H3>No hay procedimientos para este cliente</H3>
    <%end%>


    <!--  LISTADOS DE CAPTURAS -->

    <%if @cliente.forms.count > 0%>
        <%= render 'form2' %>
    <%else%>
        <H3>No hay formas de captura de este cliente</H3>
    <%end%>

    <!--  DIRECTORIO -->
    <%if @cliente.contactos.count > 0%>
        <%= render 'directorio' %>
    <%else%>
        <H3>No hay contactos para este cliente</H3>
    <%end%>



  </div>
</div>

<% content_for :javascript do %>
    <script type="text/javascript">



        $(function() {
            $('.dataTables-example').dataTable({
                "order": [[ 1, "desc" ]],
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "../../assets/dataTables/swf/copy_csv_xls_pdf.swf"
                }
            });
        });
        $(function() {
            $('.footable').footable();
        });

    </script>
<% end %>