<br><br><br><br>
<div class="middle-box text-center animated fadeInDown">
  <%if @cliente.nil? %>
    <h2>Call - Registro de llamadas</h2>
    <h3 class="font-bold">Bienvenido al sistema de captura de llamadas</h3>
  <%else%>
      <h3 class="font-bold">Consulte otra cuenta o continue con: <strong></string><%=@cliente.nombre%></strong></h3>
  <%end%>
  <div class="error-desc">
    <%if @cliente.nil? %>
        Para iniciar seleccione una cuenta
    <%end%>

    <%= form_tag  captures_consultar_path(:id), method: "patch" do |f| %>
        <div class="form-group">
          <%= select_tag :cliente_id, options_for_select(@clientes.order(:nombreComercial).collect { |c|
                                                           [(c.nombreComercial.nil? == true ? (c.nombre):(c.nombreComercial)) << ' - ' << c.datosgenerale.frase, c.id ] }, @cliente.try(:id)),  { class:"chosen-select", style: "width:400px;", :required => true } %>    
        </div>
        <div class="form-group">
          <%if @cliente.nil? %>

              <%= submit_tag "Consultar", class: "btn btn-primary"%>
          <%else%>
              <%= submit_tag "Continuar", class: "btn btn-primary"%>
          <%end%>


        </div>
    <%end%>
  </div>
</div>