<h1>Listing captures</h1>

<table>
  <thead>
    <tr>
      <th>Ticket</th>
      <th>Fecha</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Para</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @captures.each do |capture| %>
      <tr>
        <td><%= capture.ticket %></td>
        <td><%= capture.fecha %></td>
        <td><%= capture.fecha %></td>
        <td><%= capture.hora %></td>
        <td><%= capture.para %></td>
        <td><%= link_to 'Show', capture %></td>
        <td><%= link_to 'Edit', edit_capture_path(capture) %></td>
        <td><%= link_to 'Destroy', capture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Capture', new_capture_path %>
