<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @capture.ticket %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @capture.fecha %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @capture.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @capture.hora %>
</p>

<p>
  <strong>Para:</strong>
  <%= @capture.para %>
</p>

<%= link_to 'Edit', edit_capture_path(@capture) %> |
<%= link_to 'Back', captures_path %>
