



<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">

    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'home', :action => 'index' %>">Inicio</a>
      </li>
      <li>
        <a>Catalogos</a>
      </li>
      <li>
        <a href="<%= url_for :controller => 'contactos', :action => 'index' %>">Contactos</a>

      </li>
      <li class="active">
        <strong>Agregar / Modificar contacto</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Formulario<small> para  agregar o modificar a un contacto.</small></h5>

        </div>
        <div class="ibox-content">







          <%= form_for(@contacto, controller: "contactos", action: "create", class: 'form-horizontal') do |f| %>

              <% if @contacto.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= @contacto.errors.count %> error(es) no permitieron guardar el registro:</h2>

                    <ul>
                      <% @contacto.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

              <div class="form-group">
                <div class="form-group">
                  <%= f.label :cliente, class: 'col-sm-2 control-label'%>

                  <div class="col-sm-5">
                    <%= f.select :cliente_id, options_for_select(@clientes.collect { |cliente|
                                                                   [cliente.nombre.titleize, cliente.id] }, @contacto.cliente_id), {}, {id: 'clientes_select', class:"form-control m-b", style: "width:350px;" } %>




                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label :sucursal, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.select :sucursal_id, options_for_select(@sucursales.collect { |sucursal|
                                                                    [sucursal.nombre.titleize, sucursal.id] }, @contacto.sucursal_id), {}, { id: 'sucursales_select', class: 'form-control m-b', style: "width:350px;" } %>


                  </div>
                </div>




                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label "Nombre completo", class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.text_field :nombre, class: 'form-control', :required => true %>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label :telefono, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.text_field :telefono, class: 'form-control', :required => true %>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label :ext, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.text_field :ext, class: 'form-control' %>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label :cel, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.text_field :cel, class: 'form-control' %>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label :skype, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.text_field :skype, class: 'form-control' %>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label :email, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= email_field_tag :email, '', class: 'form-control', placeholder: 'email@dom.com'%>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label :puesto, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.text_field :puesto, class: 'form-control', :required => true %>
                  </div>
                </div>

                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label :funciones, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.text_field :funciones, class: 'form-control'%>
                  </div>
                </div>

                <br>


              </div>

              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <a href="<%= url_for :controller => 'contactos', :action => 'index' %>">
                    <button class="btn btn-outline btn-danger btn-rounded" type="button"><i class="fa fa-list-ol"></i>&nbsp;Cancelar</button>
                  </a>

                  <%= button_tag(type: 'submit', class: "btn btn-outline btn-success btn-rounded") do %>
                      <i class="fa fa-database"></i> Guardar
                  <% end %>
                </div>



              </div>
              <br><br>
          <% end %>



        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">


        var config = {
            '.chosen-select'           : {},
            '.chosen-select-deselect'  : {allow_single_deselect:true},
            '.chosen-select-no-single' : {disable_search_threshold:10},
            '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
            '.chosen-select-width'     : {width:"95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

        $(function() {
            return $(document).on('change', '#clientes_select', function(evt) {
                return $.ajax('../update_sucursales', {
                    type: 'GET',
                    dataType: 'script',
                    data: {
                        cliente_id: $("#clientes_select option:selected").val()
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        return console.log("AJAX Error: " + textStatus);
                    },
                    success: function(data, textStatus, jqXHR) {
                        return console.log("Dynamic country select OK!");
                    }
                });
            });
        });

    </script>
<% end %>
