<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Formulario<small> para  agregar o modificar a un registro.</small></h5>

        </div>
        <div class="ibox-content">
          <%= form_for(@information, class: 'form-horizontal') do |f| %>
              <% if @information.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= @information.errors.count %> error(es) no permitieron guardar el registro:</h2>

                    <ul>
                      <% @information.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

              <div class="form-group">
                <div class="form-group">
                  <%= f.label "Formulario", class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.select :form_id, options_for_select(Form.all.collect { |formulario|
                                                                   [formulario.name, formulario.id] }, @information.form_id), {}, { id: 'clientes_select', class:"chosen-select", style: "width:350px;", :disabled => true} %>

                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                  <%= f.label "Operador", class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.select :usuario_id, options_for_select(Usuario.all.collect { |operador|
                                                                   [operador.email, operador.id] }, @information.usuario_id), {:readonly => true}, {class:"chosen-select", style: "width:350px;",:disabled => true } %>
                  </div>
                </div>

                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <div class="i-checks"><label> <input id="<%= "rbtn_alt"%>" type="radio" value="option1" name="<%= "a"%>" onclick="show_alternos(true)" > <i></i>Alternos</label></div>
                  <div class="i-checks"><label> <input id="<%= "rbtn_prim"%>" type="radio"  value="option2" checked="" name="<%= "a"%>" onclick="show_alternos(false) "> <i></i>Primarios</label></div>
                </div>
                <div class="hr-line-dashed"></div>

                <% @information.form.fields.order(:position).each_with_index do |field, index| %>
                    <%fld = @information.form.fields.order(:id).each_with_index.map {|f,i| {f.position => "field" + (i+1).to_s }}.select{|f| f[field.position]}[0].each_pair.map{|k,v| v}[0]%>
                    <div   <%= field.behave == "Alterno" ? ("hidden = 'true'"):('') %> class="form-group" id = <%=  field.behave=="Primario" ? ("div_prim_" << fld):(field.behave=="Alterno" ? ("div_alt_" << fld):("div_com_" << fld))%>>
                      <%= f.label field.mandatory? ? (field.name << " *"):(field.name) , class: 'col-sm-2 control-label'%>
                      <div class="col-sm-5">
                        <%case field.data_type%>
                        <%when "Date"%>
                            <div class="form-group">
                              <div class="col-sm-9">


                                <div class="form-group" id="data_1">
                                  <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <%= f.text_field fld, class: "form-control", value: @information.attributes.each_key.select{|k| k.to_s == fld}.empty? ? (Date.today.strftime("%Y-%m-%d")):((@information.attributes.each_pair.select{|k,v| k.to_s == fld})[0][1]).to_date.strftime("%Y-%m-%d"),
                                                     required: field.mandatory ? (true):(false),
                                                     id: (field.behave=="Primario" ? ("ctl_prim_" << fld):(field.behave=="Alterno" ? ("ctl_alt_" << fld):("ctl_com_" << fld))) << (field.mandatory ? "r":"o")%>



                                  </div>
                                </div>
                              </div>
                            </div>


                        <%when "DateTime"%>
                            <div class="form-group">
                              <div class="col-sm-9">
                                <div class="form-group" id="data_1">
                                  <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <%= f.text_field fld, class: "form-control", value: @information.attributes.each_key.select{|k| k.to_s == fld}.empty? ? (Date.today.strftime("%Y-%m-%d")):((@information.attributes.each_pair.select{|k,v| k.to_s == fld})[0][1]).to_date.strftime("%Y-%m-%d"),
                                                     required: field.mandatory ? (true):(false),
                                                     id: (field.behave=="Primario" ? ("ctl_prim_" << fld):(field.behave=="Alterno" ? ("ctl_alt_" << fld):("ctl_com_" << fld))) << (field.mandatory ? "r":"o")%>


                                  </div>
                                </div>
                              </div>

                              <div class="col-sm-3" style="width: 100px">
                                <div class="input-group clockpicker" data-autoclose="true" >
                                  <%= f.text_field (fld + '_time'),
                                                   value: @information.attributes.each_key.select{|k| k.to_s == fld}.empty? ? (DateTime.now.strftime("%H:%M")):((@information.attributes.each_pair.select{|k,v| k.to_s == fld})[0][1]).to_datetime.strftime('%H:%M'),
                                                   required: field.mandatory ? (true):(false),
                                                   id: (field.behave=="Primario" ? ("ctl_prim_" << fld):(field.behave=="Alterno" ? ("ctl_alt_" << fld):("ctl_com_" << fld))) << (field.mandatory ? "r":"o")%>
                                  <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                            </span>
                                </div>
                              </div>
                            </div>


                      <%when "Integer"%>
                            <%= f.number_field fld, class: 'form-control', required: field.mandatory ? (true):(false) , id: (field.behave=="Primario" ? ("ctl_prim_" << fld):(field.behave=="Alterno" ? ("ctl_alt_" << fld):("ctl_com_" << fld))) << (field.mandatory ? "r":"o") %>
                        <%when "String"%>
                            <%= f.text_field fld, class: 'form-control', required: field.mandatory ? (true):(false) , id: (field.behave=="Primario" ? ("ctl_prim_" << fld):(field.behave=="Alterno" ? ("ctl_alt_" << fld):("ctl_com_" << fld))) << (field.mandatory ? "r":"o") %>


                        <%when "Boolean"%>
                            <%= f.check_box fld , id: (field.behave=="Primario" ? ("ctl_prim_" << fld):(field.behave=="Alterno" ? ("ctl_alt_" << fld):("ctl_com_" << fld))) << (field.mandatory ? "r":"o")%>
                        <%when "List"%>
                            <% if field.mandatory%>
                                <%= f.select(fld, field.list.split(",").map(&:strip).collect { |valor|[valor]},
                                             {required: true}, {class:"form-control m-b", style: "width:350px;", id: (field.behave=="Primario" ? ("ctl_prim_" << fld):(field.behave=="Alterno" ? ("ctl_alt_" << fld):("ctl_com_" << fld))) << (field.mandatory ? "r":"o")} )%>


                            <%else%>
                                <%= f.select(fld, options_for_select(field.list.split(",").map(&:strip).collect { |valor|
                                                                       [valor]}), {:include_blank => '-- Seleccione --'   }, {class:"form-control m-b", style: "width:350px;", id: (field.behave=="Primario" ? ("ctl_prim_" << fld):(field.behave=="Alterno" ? ("ctl_alt_" << fld):("ctl_com_" << fld))) << (field.mandatory ? "r":"o") } )%>
                            <%end%>

                        <%end%>
                      </div>
                      <br>
                      <div class="hr-line-dashed"></div>
                    </div>

                <%end%>
              </div>
              <div class="actions">
                <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-2">
                    <%if @current_user.role == "Operador" %>
                        <%= link_to "Regresar", captures_consultar_path(@information.datosgenerale_id), :method => :patch,  class:"btn btn-default"%>
                    <%end%>

                    <%= f.submit "Modificar", class: "btn btn-primary"%>
                  </div>
                </div>
              </div>
              <br><div class="hr-line-dashed"></div>






          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">
        $('.clockpicker').clockpicker();

        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
            format: "yyyy-mm-dd"
        });

        $(document).ready(function (){
            //alert($("#procs").val() );
            var totalfields = 100;
                for (i = 1; i <= totalfields; i++) {
                    //Cambiamos los obligatorios alternos a opcionales porque si no no se puede guardar
                    var fld ="ctl_alt_field" + i + "r";
                    console.log ("Campo a modificar ->" + fld );
                    var element =  document.getElementById(fld);
                    if (typeof(element) != 'undefined' && element != null){
                        document.getElementById(fld).required = false;
                        console.log ("Campo modificado a opcional->" + fld );
                    }
                }
        });


        function show_alternos(alternos) {

            var totalfields =100;
            for (i = 1; i <= totalfields; i++) {
                if (alternos) {
                    $("#div_prim_field" + i).hide(800);
                    $("#div_alt_field" + i).show(1000);
                }else{
                    $("#div_prim_field" + i).show(1000);
                    $("#div_alt_field" + i).hide(800);
                }


                //Cambiamos los obligatorios primarios a opcionales porque si no no se puede guardar
                var fld = "ctl_prim_field" + i + "r";
                var element = document.getElementById(fld);
                if (typeof(element) != 'undefined' && element != null) {
                    // document.getElementById(fld).required = false; //ori
                    document.getElementById(fld).required = !alternos;
                    console.log ("Campo modificado a requerido=false->" + fld );
                }

                //Ponemos los alternos que deben ser obligatorios
                var fld = "ctl_alt_field" + i + "r";
                var element = document.getElementById(fld);
                if (typeof(element) != 'undefined' && element != null) {
                    // document.getElementById(fld).required = true; //ori
                    document.getElementById(fld).required = alternos;
                    console.log ("Campo modificado a requerido=true->" + fld );
                }
            }
        };

        var config = {
            '.chosen-select'           : {},
            '.chosen-select-deselect'  : {allow_single_deselect:true},
            '.chosen-select-no-single' : {disable_search_threshold:10},
            '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
            '.chosen-select-width'     : {width:"95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    </script>
<% end %>