<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Formulario<small> para  agregar o modificar a un registro.</small></h5>

        </div>
        <div class="ibox-content">
          <%= form_for(@information, class: 'form-horizontal') do |f| %>
              <% if @information.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= @information.errors.count %> error(es) no permitieron guardar el registro:</h2>

                    <ul>
                      <% @information.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

              <div class="form-group">
                <div class="form-group">
                  <%= f.label "Formulario", class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.select :form_id, options_for_select(Form.all.collect { |formulario|
                                                                   [formulario.name, formulario.id] }, @information.form_id), {}, { id: 'clientes_select', class:"chosen-select", style: "width:350px;", :disabled => true} %>

                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                  <%= f.label "Operador", class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.select :usuario_id, options_for_select(Usuario.all.collect { |operador|
                                                                   [operador.email, operador.id] }, @information.usuario_id), {:readonly => true}, {class:"chosen-select", style: "width:350px;",:disabled => true } %>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>


                <% @information.form.fields.order(:id).each_with_index do |field, index| %>
                    <%fld = "field" << (index + 1).to_s%>

                    <div class="form-group">
                      <%type=field.data_type%>
                      <%= (f.label field.name, class: 'col-sm-2 control-label') unless type == "Boolean"%>
                      <div class="col-sm-5">
                        <%case type%>
                        <%when "Date"%>
                            <%= date_select fld, fld, :default => (@information.attributes.each_key.select{|k| k.to_s == fld}.empty? ? (Date.today):((@information.attributes.each_pair.select{|k,v| k.to_s == fld})[0][1]).to_date ), class: 'form-control', :required => true  %>
                        <%when "DateTime"%>
                            <%if field.mandatory%>
                                <%= f.datetime_select fld, class: 'form-control', :required => true %>
                            <%else%>
                                <%= f.datetime_select fld, class: 'form-control'%>
                            <%end%>
                        <%when "Integer"%>
                            <%if field.mandatory%>
                                <%= f.number_field fld, class: 'form-control', :required => true %>
                            <%else%>
                                <%= f.number_field fld, class: 'form-control'%>
                            <%end%>
                        <%when "String"%>
                            <%if field.mandatory%>
                                <%= f.text_field fld, class: 'form-control', :required => true %>
                            <%else%>
                                <%= f.text_field fld, class: 'form-control'%>
                            <%end%>
                        <%when "Boolean"%>
                            <div class="checkbox checkbox-success checkbox-inline">
                              <%= f.check_box fld%>
                              <%= f.label field.name, style:"font-weight: bold;" %>
                            </div>
                        <%end%>
                      </div>
                    </div>
                    <br>
                    <div class="hr-line-dashed"></div>
                <%end%>
              </div>
              <div class="actions">
                <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-2">
                    <%if @current_user.role == "Operador" %>
                        <%= link_to "Regresar", captures_consultar_path(@information.form.cliente.id), :method => :patch,  class:"btn btn-default"%>
                    <%end%>

                    <%= f.submit "Modificar", class: "btn btn-primary"%>
                  </div>
                </div>
              </div>
              <br><div class="hr-line-dashed"></div>


          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">


        var config = {
            '.chosen-select'           : {},
            '.chosen-select-deselect'  : {allow_single_deselect:true},
            '.chosen-select-no-single' : {disable_search_threshold:10},
            '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
            '.chosen-select-width'     : {width:"95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    </script>
<% end %>