<div class="col-lg-5">
  <dl class="dl-horizontal">

    <dt>Registro id:</dt>
    <dd><%=@information.id%></dd>
    <dt>Cliente:</dt>
    <dd><a href="#" class="text-navy"> <%=@information.datosgenerale.cliente.nombre%></a> </dd>
    <dt>Cuenta:</dt>
    <dd><%=@information.datosgenerale.account%></dd>
  </dl>
</div>
<div class="col-lg-7" id="cluster_info">
  <dl class="dl-horizontal">
    <dt>Capturado por:</dt>
    <dd><%=@information.usuario.email%>  <%=@information.created_at%></dd>

    <dt>Actualizado por:</dt>
    <dd><%=@information.userupdate.email%>  <%=@information.updated_at%></dd>
    <dt>Formulario:</dt>
    <dd><%=@information.form.name.titleize%></dd>
  </dl>
</div>

<%= render 'form' %>


