<p id="notice"><%= notice %></p>

<p>
  <strong>Form:</strong>
  <%= @information.form %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @information.usuario %>
</p>

<p>
  <strong>Field1:</strong>
  <%= @information.field1 %>
</p>

<p>
  <strong>Field2:</strong>
  <%= @information.field2 %>
</p>

<p>
  <strong>Field3:</strong>
  <%= @information.field3 %>
</p>

<p>
  <strong>Field4:</strong>
  <%= @information.field4 %>
</p>

<p>
  <strong>Field5:</strong>
  <%= @information.field5 %>
</p>

<p>
  <strong>Field6:</strong>
  <%= @information.field6 %>
</p>

<p>
  <strong>Field7:</strong>
  <%= @information.field7 %>
</p>

<p>
  <strong>Field8:</strong>
  <%= @information.field8 %>
</p>

<p>
  <strong>Field9:</strong>
  <%= @information.field9 %>
</p>

<p>
  <strong>Field10:</strong>
  <%= @information.field10 %>
</p>

<%= link_to 'Edit', edit_information_path(@information) %> |
<%= link_to 'Back', information_index_path %>
