

    <div class="col-lg-5">
      <dl class="dl-horizontal">

        <dt>Registro id:</dt>
        <dd><%=@information.id%></dd>
        <dt>Cliente:</dt>
        <dd><a href="#" class="text-navy"> <%=@information.datosgenerale.cliente.nombre%></a> </dd>
        <dt>Cuenta:</dt>
        <dd><%=@information.datosgenerale.account%></dd>
      </dl>
    </div>
    <div class="col-lg-7" id="cluster_info">
      <dl class="dl-horizontal">
        <dt>Capturado por:</dt>
        <dd><%=@information.usuario.email%>  <%=@information.created_at%></dd>

        <dt>Actualizado por:</dt>
        <dd><%=@information.userupdate.email%>  <%=@information.updated_at%></dd>
        <dt>Formulario:</dt>
        <dd><%=@information.form.name.titleize%></dd>
      </dl>
    </div>


<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Formulario<small> que muestra los datos de una captura.</small></h5>

        </div>
        <div class="ibox-content">

          <div class="form-group">
            <div class="form-group">
              <h4>Cliente:</h4>
              <div class="col-sm-5">
                <%= @information.form.cliente.nombre %>
              </div><br>

              <h4>Operador:</h4>
              <div class="col-sm-5">
                <%= @information.usuario.email%>
              </div><br>
              <% @information.form.fields.order(:position).each_with_index do |field, index| %>
                  <%fld = @information.form.fields.order(:id).each_with_index.map {|f,i| {f.position => "field" + (i+1).to_s }}.select{|f| f[field.position]}[0].each_pair.map{|k,v| v}[0]%>
                    <%type=field.data_type%>
                    <h4><%= field.name%></h4>
                    <div class="col-sm-5">
                      <%case field.data_type%>
                          <%when "Date"%>
                              <%=@information.attributes.each_key.select{|k| k.to_s == fld}.empty? ? nil:(((@information.attributes.each_pair.select{|k,v| k.to_s == fld})[0][1]).nil? ? (nil):(((@information.attributes.each_pair.select{|k,v| k.to_s == fld})[0][1]).to_date)) %>
                          <%when "Datetime"%>
                              <%=@information.attributes.each_key.select{|k| k.to_s == fld}.empty? ? nil:(((@information.attributes.each_pair.select{|k,v| k.to_s == fld})[0][1]).nil? ? (nil):(((@information.attributes.each_pair.select{|k,v| k.to_s == fld})[0][1]).to_date)) %>
                          <%when "Boolean"%>
                              <%=@information.attributes.each_key.select{|k| k.to_s == fld}.empty? ? nil:!((@information.attributes.each_pair.select{|k,v| k.to_s == fld})[0][1]).to_i.zero?%>
                          <%else%>
                              <%=@information.attributes.each_key.select{|k| k.to_s == fld}.empty? ? nil:((@information.attributes.each_pair.select{|k,v| k.to_s == fld})[0][1])%>
                      <%end%>
                    </div>
                  <br>
              <%end%>
            </div>
          </div>
          <div class="actions">
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <%if @current_user.role == "Operador" %>
                    <%= link_to "Regresar", captures_consultar_path(@information.datosgenerale_id), :method => :patch,  class:"btn btn-default"%>
                <%end%>
                <a href="<%= url_for edit_information_path(@information) %>">
                  <button class="btn btn-outline btn-success btn-rounded" type="button"><i class="fa fa-pencil"></i>&nbsp;Editar</button>
                </a>
              </div>
            </div>
          </div>
          <br><div class="hr-line-dashed"></div>

        </div>
      </div>
    </div>
  </div>
</div>