<%if usuario_signed_in?%>
    <div class="row border-bottom white-bg">
      <!-- <nav class="navbar navbar-static-top" role="navigation"> -->
      <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                <i class="fa fa-user"></i>  <span class="label label-warning"></span>
              </a>
              <ul class="dropdown-menu dropdown-messages">
                <li>
                  <div class="dropdown-messages-box">

                    <a href="#" class="pull-left">
                      <img alt="image" class="img-circle" src="<%= image_path('a7.jpg') %>" />
                    </a>
                    <div class="media-body">

                      <strong>Firmado</strong> como: <strong>
                      <%= current_usuario.email%>
                    </strong><br/>
                      <small class="text-muted">Ultima sesion: <%=current_usuario.last_sign_in_at%></small>


                    </div>

                  </div>
                </li>
                <li class="divider"></li>
                <li>
                  <div class="text-center link-block">
                    <strong><%=link_to "Editar", edit_usuario_registration_path(id: current_usuario.id)%></strong>
                    <i class="fa fa-edit"></i> | <strong><%=link_to "Log Out", destroy_usuario_session_path, method: :delete%></strong>
                    <i class="fa fa-sign-out"></i>
                  </div>
                </li>
              </ul>
            </li>





          </ul>



        </div>
      </nav>
    </div>
    <%end%>
<br><br>
<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>

      <img alt="image"  src="<%= image_path('ofintel2.png') %>">

    </div>
    <div class="hr-line-dashed"></div>
    <h2>Centro de Administracion Llamadas de Clientes</h2>


    <div class="hr-line-solid"></div>
    <h3>Su comunicacion... nuestro compromiso</h3>
    <small>Ofintel &copy; 2015 - <%= Date.today.year %> </small>
<br><br><br>
        <% if !usuario_signed_in? %>
            <%= link_to 'Entrar',new_usuario_session_path, class: 'btn btn-sm btn-primary btn-block'%>
        <%end%>
  </div>
</div>



