<div class="passwordBox animated fadeInDown">
  <div class="row">

    <div class="col-md-12">

      <div class="ibox-content">
        <div align="center">

          <img alt="image"  src="<%= image_path('ofintel2.png') %>">

        </div>
        <br>
        <h2 class="font-bold">Cambiar contraseña</h2>

        <p>
          Escribe tu nueva contraseña.
        </p>

        <div class="row">

          <div class="col-lg-12">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>
                <%= f.hidden_field :reset_password_token %>
                <div class="form-group">
                  <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                  <% end %>
                  <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: "Contraseña", required: true  %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: "Confirmar contraseña", required: true  %>
                </div>

                <div class="actions">
                  <%= f.submit "Cambiar contraseña", class: "btn btn-primary block full-width m-b" %>
                </div>
            <% end %>

          </div>
          <div align="center">

            <%= link_to 'Login', new_usuario_session_path%>

          </div>
        </div>


      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6 text-right">
      <small>Ofintel &copy; 2015 - <%= Date.today.year %> </small>
    </div>
  </div>
</div>