<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @form3.cliente_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @form3.usuario_id %>
</p>

<p>
  <strong>Field1:</strong>
  <%= @form3.field1 %>
</p>

<p>
  <strong>Field2:</strong>
  <%= @form3.field2 %>
</p>

<p>
  <strong>Field3:</strong>
  <%= @form3.field3 %>
</p>

<p>
  <strong>Field4:</strong>
  <%= @form3.field4 %>
</p>

<p>
  <strong>Field5:</strong>
  <%= @form3.field5 %>
</p>

<p>
  <strong>Field6:</strong>
  <%= @form3.field6 %>
</p>

<p>
  <strong>Field7:</strong>
  <%= @form3.field7 %>
</p>

<p>
  <strong>Field8:</strong>
  <%= @form3.field8 %>
</p>

<p>
  <strong>Field9:</strong>
  <%= @form3.field9 %>
</p>

<p>
  <strong>Field10:</strong>
  <%= @form3.field10 %>
</p>

<p>
  <strong>Field11:</strong>
  <%= @form3.field11 %>
</p>

<p>
  <strong>Field12:</strong>
  <%= @form3.field12 %>
</p>

<p>
  <strong>Field13:</strong>
  <%= @form3.field13 %>
</p>

<p>
  <strong>Field15:</strong>
  <%= @form3.field15 %>
</p>

<p>
  <strong>Field16:</strong>
  <%= @form3.field16 %>
</p>

<p>
  <strong>Field17:</strong>
  <%= @form3.field17 %>
</p>

<p>
  <strong>Field18:</strong>
  <%= @form3.field18 %>
</p>

<p>
  <strong>Field19:</strong>
  <%= @form3.field19 %>
</p>

<p>
  <strong>Field20:</strong>
  <%= @form3.field20 %>
</p>

<%= link_to 'Edit', edit_form3_path(@form3) %> |
<%= link_to 'Back', form3s_path %>
