<div class="col-lg-10">
  <h2>Mostrando Registro de captura de <%=@nameForm%></h2>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Formulario<small> que muestra los datos de una captura.</small></h5>

        </div>
        <div class="ibox-content">

          <div class="form-group">
            <div class="form-group">
              <h4>Cliente:</h4>
              <div class="col-sm-5">
                <%= Cliente.find(@form3.cliente_id).nombre %>
              </div><br>

              <h4>Operador:</h4>
              <div class="col-sm-5">
                <%= Usuario.find_by_id(@form3.usuario_id).email%>
              </div><br>

              <% @fields.order(:id).each_with_index do |field, index| %>
                  <h4><%=field.name%></h4>
                  <div class="col-sm-5">
                    <%case index%>
                    <%when 0%>
                        <%=@form3.field1%>
                    <%when 1%>
                        <%=@form3.field2%>
                    <%when 2%>
                        <%=@form3.field3%>
                    <%when 3%>
                        <%=@form3.field4%>
                    <%when 4%>
                        <%=@form3.field5%>
                    <%when 5%>
                        <%=@form3.field6%>
                    <%when 6%>
                        <%=@form3.field7%>
                    <%when 7%>
                        <%=@form3.field8%>
                    <%when 8%>
                        <%=@form3.field9%>
                    <%when 9%>
                        <%=@form3.field10%>

                    <%when 10%>
                        <%=@form3.field11%>
                    <%when 11%>
                        <%=@form3.field12%>
                    <%when 12%>
                        <%=@form3.field13%>
                    <%when 13%>
                        <%=@form3.field14%>
                    <%when 14%>
                        <%=@form3.field15%>
                    <%when 15%>
                        <%=@form3.field16%>
                    <%when 16%>
                        <%=@form3.field17%>
                    <%when 17%>
                        <%=@form3.field18%>
                    <%when 18%>
                        <%=@form3.field19%>
                    <%when 19%>
                        <%=@form3.field20%>
                    <%end%>
                  </div>
                  <br>
              <%end%>



            </div>


          </div>



          <div class="actions">
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <%if !@form3.cliente.nil?%>
                    <%= link_to "Regresar", captures_consultar_path(@form3.cliente.id), :method => :patch,  class:"btn btn-default"%>
                <%end%>

                <a href="<%= url_for edit_form3_path(@form3) %>">
                  <button class="btn btn-primary" type="button"><i class="fa fa-pencil"></i>&nbsp;Editar</button>
                </a>
              </div>
            </div>
          </div>
          <br><div class="hr-line-dashed"></div>

        </div>
      </div>
    </div>
  </div>
</div>





