<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">

    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'home', :action => 'index' %>">Inicio</a>
      </li>
      <li>
        <a>Catalogos</a>
      </li>
      <li>
        <a href="<%= url_for datosgenerales_path %>">Datos generales</a>

      </li>
      <li class="active">
        <strong>Agregar / Modificar datos generales</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Formulario<small> para  agregar o modificar datos generales.</small></h5>

        </div>
        <div class="ibox-content">

          <%= form_for(@datosgenerale, controller: "datosgenerales", action: "create", class: 'form-horizontal') do |f| %>
              <% if @datosgenerale.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= @datosgenerale.errors.count %> error(es) no permitieron guardar el registro:</h2>

                    <ul>
                      <% @datosgenerale.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

              <div class="form-group">
                <div class="form-group">
                  <%= f.label :cliente, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.select :cliente_id, options_for_select(@clientes.order(:id).collect { |cliente|
                                                                   [cliente.nombre.titleize, cliente.id] }, @datosgenerale.cliente_id), {}, { id: 'clientes_select', class:"form-control m-b", style: "width:350px;" } %>

                  </div>
                </div>
                <br>

                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label :alta, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">

                    <div class="form-group" id="data_1">

                      <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <%if (@datosgenerale.alta.nil?) %>
                            <%= f.text_field :alta, class: "form-control", :required => true%>
                        <%else%>
                            <%= f.text_field :alta, class: "form-control", value: @datosgenerale.alta.to_s(:month_day_year), :required => true%>
                        <%end%>

                      </div>
                    </div>

                  </div>
                </div>
                <br>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label :clavesalida, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.text_field :clavesalida, class: 'form-control' , :required => true%>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label :locacion, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.text_field :locacion, class: 'form-control' , :required => true%>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label :did, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.text_field :did, class: 'form-control', :required => true %>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label "Tel enrutados", class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.text_field :telenrutados, class: 'form-control' %>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label "Contacto [1-5]", class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.select :contacto1_id, options_for_select(@contactos.collect { |contacto|
                                                                    [contacto.nombre, contacto.id] }, @contactos_ids), {},
                                 { id: 'contactos_select', class:"form-control m-b", style: "width:350px;", multiple: true } %>




                  </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>

                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label :horario, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= select("post", "horario_id", @horarios.collect {|p| [ p.nombre, p.id ] },
                               {prompt: 'Seleccione horario',selected: @datosgenerale.horario_id, required: true}, {id: 'horarios_select',class: 'form-control m-b',style: "width:350px;"}) %>

                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>



                <div class="form-group" >
                  <%= f.label :telefono1, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5" style="width: 200px">
                      <%= f.text_field :telefono1, class: 'form-control'%>
                  </div>
                  <%= f.label :telefono2, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5" style="width: 200px">
                    <%= f.text_field :telefono2, class: 'form-control'%>
                  </div>
                </div><br>
                <div class="hr-line-dashed"></div>


                <div class="form-group" >
                  <%= f.label :telefono3, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5" style="width: 200px">
                    <%= f.text_field :telefono3, class: 'form-control'%>
                  </div>
                  <%= f.label :telefono4, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5" style="width: 200px">
                    <%= f.text_field :telefono4, class: 'form-control'%>
                  </div>
                </div><br>
                <div class="hr-line-dashed"></div>


                <div class="form-group" >
                  <%= f.label :telefon5, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5" style="width: 200px">
                    <%= f.text_field :telefono5, class: 'form-control'%>
                  </div>

                </div><br>
                <div class="hr-line-dashed"></div>




                <div class="form-group">
                  <%= f.label :fax, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.text_field :fax, class: 'form-control' %>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label :giro, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.text_field :giro, class: 'form-control' %>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label :procedimiento, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.text_area :procedimiento, class: 'form-control' %>
                  </div>
                </div>
                <br><br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label :paginaweb, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.text_field :paginaweb, class: 'form-control' %>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>

                <div class="form-group" >
                  <%= f.label 'Tipo de cambio', class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                      <div class="checkbox checkbox-success">
                        <%= f.check_box :tipocambio%>
                        <%= f.label " "%>
                      </div>
                  </div>
                </div>

                <br>
                <div class="hr-line-dashed"></div>

                <div class="form-group" >
                  <%= f.label :pedido, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <div class="checkbox checkbox-success">
                      <%= f.check_box :pedido%>
                      <%= f.label " "%>
                    </div>
                  </div>
                </div>

                <br>
                <div class="hr-line-dashed"></div>

                <div class="form-group" >
                  <%= f.label 'Frase contestacion', class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.text_area :frase, class: 'form-control', :required => true %>
                  </div>
                </div>

                <br>
                <br>
              </div>

              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <a href="<%= url_for :controller => 'datosgenerales', :action => 'index' %>">
                    <button class="btn btn-outline btn-danger btn-rounded" type="button"><i class="fa fa-list-ol"></i>&nbsp;Cancelar</button>
                  </a>

                  <%= button_tag(type: 'submit', class: "btn btn-outline btn-success btn-rounded") do %>
                      <i class="fa fa-database"></i> Guardar
                  <% end %>
                </div>



              </div>
              <br><br>
          <% end %>



        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">


        var config = {
            '.chosen-select'           : {},
            '.chosen-select-deselect'  : {allow_single_deselect:true},
            '.chosen-select-no-single' : {disable_search_threshold:10},
            '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
            '.chosen-select-width'     : {width:"95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });

        $(function() {
            return $(document).on('change', '#clientes_select', function(evt) {
                return $.ajax({
                    url:location.protocol + "//" + location.host + "/datosgenerales/update_contactos",
                    type: 'GET',
                    dataType: 'script',
                    data: {
                        cliente_id: $("#clientes_select option:selected").val()
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        // console.log(location.protocol + "//" + location.host + "/direccions/update_sucursales");
                        return console.log("AJAX Error: " + textStatus);
                    },
                    success: function(data, textStatus, jqXHR) {
                        return console.log("Dynamic contacto select OK!");
                    }
                });
            });
        });


        $(function() {
            return $(document).on('change', '#clientes_select', function(evt) {
                return $.ajax({
                    url:location.protocol + "//" + location.host + "/datosgenerales/update_horarios",
                    type: 'GET',
                    dataType: 'script',
                    data: {
                        cliente_id: $("#clientes_select option:selected").val()
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        // console.log(location.protocol + "//" + location.host + "/direccions/update_sucursales");
                        return console.log("AJAX Error: " + textStatus);
                    },
                    success: function(data, textStatus, jqXHR) {
                        return console.log("Dynamic horario select OK!");
                    }
                });
            });
        });

    </script>
<% end %>


