
<div class="col-lg-10">
  <h2>Mostrar datos generales</h2>
</div>
<p id="notice"><%= notice %></p>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">

    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'home', :action => 'index' %>">Inicio</a>
      </li>
      <li>
        <a>Catalogos</a>
      </li>
      <li>
        <a href="<%= url_for :controller => 'datosgenerales', :action => 'index' %>">Datos generales</a>

      </li>
      <li class="active">
        <strong>Mostrar</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Formulario<small> que muestra los datos generales de un cliente</small></h5>

        </div>
        <div class="ibox-content">

          <div class="form-group">
            <div class="form-group">
              <h4>Cliente:</h4>
              <div class="col-sm-5">
                <%= Cliente.find(@datosgenerale.cliente_id).nombre %>
              </div><br>
              <h4>Alta:</h4>
              <div class="col-sm-5">
                <%= @datosgenerale.alta%>
              </div><br>
              <h4>Actualizacion:</h4>
              <div class="col-sm-5">
                <%= @datosgenerale.actualizacion%>
              </div><br>

              <h4>Clave salida:</h4>
              <div class="col-sm-5">
                <%= @datosgenerale.clavesalida%>
              </div><br>

              <h4>Locacion:</h4>
              <div class="col-sm-5">
                <%= @datosgenerale.locacion%>
              </div><br>

              <h4>DID:</h4>
              <div class="col-sm-5">
                <%= @datosgenerale.did%>
              </div><br>

              <h4>Tel. enrutados:</h4>
              <div class="col-sm-5">
                <%= @datosgenerale.telenrutados%>
              </div><br>

              <h4>Contacto 1:</h4>
              <div class="col-sm-5">
                <%if (@datosgenerale.contacto1_id.nil? == false)%>
                    <%= Contacto.find(@datosgenerale.contacto1_id).nombre %>
                <%end%>
              </div><br>
              <h4>Contacto 2:</h4>
              <div class="col-sm-5">
                <%if (@datosgenerale.contacto2_id.nil? == false)%>
                    <%= Contacto.find(@datosgenerale.contacto2_id).nombre %>
                <%end%>
              </div><br>
              <h4>Contacto 3:</h4>
              <div class="col-sm-5">
                <%if (@datosgenerale.contacto3_id.nil? == false)%>
                    <%= Contacto.find(@datosgenerale.contacto3_id).nombre %>
                <%end%>
              </div><br>
              <h4>Contacto 4:</h4>
              <div class="col-sm-5">
                <%if (@datosgenerale.contacto4_id.nil? == false)%>
                    <%= Contacto.find(@datosgenerale.contacto4_id).nombre %>
                <%end%>
              </div><br>
              <h4>Contacto 5:</h4>
              <div class="col-sm-5">
                <%if (@datosgenerale.contacto5_id.nil? == false)%>
                    <%= Contacto.find(@datosgenerale.contacto5_id).nombre %>
                <%end%>
              </div><br>

              <h4>Telefono 1:</h4>
              <div class="col-sm-5">
                <%= @datosgenerale.telefono1%>
              </div><br>
              <h4>Telefono 2:</h4>
              <div class="col-sm-5">
                <%= @datosgenerale.telefono2%>
              </div><br>
              <h4>Telefono 3:</h4>
              <div class="col-sm-5">
                <%= @datosgenerale.telefono3%>
              </div><br>
              <h4>Telefono 4:</h4>
              <div class="col-sm-5">
                <%= @datosgenerale.telefono4%>
              </div><br>
              <h4>Telefono 5:</h4>
              <div class="col-sm-5">
                <%= @datosgenerale.telefono5%>
              </div><br>
              <h4>FAX:</h4>
              <div class="col-sm-5">
                <%= @datosgenerale.fax%>
              </div><br>
              <h4>Giro:</h4>
              <div class="col-sm-5">
                <%= @datosgenerale.giro%>
              </div><br>
              <h4>Procedimiento:</h4>
              <div class="col-sm-5">
                <%= @datosgenerale.procedimiento%>
              </div><br>
              <h4>Pagina WEB:</h4>
              <div class="col-sm-5">
                <%= @datosgenerale.paginaweb%>
              </div><br>
              <h4>Horario:</h4>
              <div class="col-sm-5">
                <%= Horario.find(@datosgenerale.horario_id).nombre %>
              </div><br>
              <h4>Tipo de cambio:</h4>
              <div class="col-sm-5">
                <%= @datosgenerale.tipocambio %>
              </div><br>
              <h4>Pedido:</h4>
              <div class="col-sm-5">
                <%= @datosgenerale.pedido%>
              </div><br>
              <h4>Frase de contestacion:</h4>
              <div class="col-sm-5">
                <%= @datosgenerale.frase%>
              </div><br>
            </div>
            <br>
            <div class="hr-line-dashed"></div>


          </div>

          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <a href="<%= url_for :controller => 'datosgenerales', :action => 'index' %>">
                <button class="btn btn-outline btn-danger btn-rounded" type="button"><i class="fa fa-list-ol"></i>&nbsp;Listado</button>
              </a>

              <a href="<%= url_for :controller => 'datosgenerales', :action => 'edit', :id => @datosgenerale.id %>">
                <button class="btn btn-outline btn-success btn-rounded" type="button"><i class="fa fa-pencil"></i>&nbsp;Editar</button>
              </a>

              <a href="<%= url_for :controller => 'datosgenerales', :action => 'new' %>">
                <button class="btn btn-outline btn-warning btn-rounded" type="button"><i class="fa fa-plus"></i>&nbsp;Nuevo</button>
              </a>
            </div>



          </div>
          <br><br>




        </div>
      </div>
    </div>
  </div>
</div>










