
<div class="col-lg-10">
  <h2>Mostrar sucursal</h2>
</div>
<p id="notice"><%= notice %></p>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">

    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'home', :action => 'index' %>">Inicio</a>
      </li>
      <li>
        <a>Catalogos</a>
      </li>
      <li>
        <a href="<%= url_for :controller => 'sucursals', :action => 'index' %>">Sucursal</a>
      </li>
      <li class="active">
        <strong>Mostrar</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Formulario<small> que muestra los datos de una sucursal.</small></h5>

        </div>
        <div class="ibox-content">

          <div class="form-group">
            <div class="form-group">
              <h4>Cliente:</h4>
              <div class="col-sm-5">
                <%= Cliente.find(@sucursal.cliente_id).nombre %>
              </div><br>

              <h4>Nombre:</h4>
              <div class="col-sm-5">
                <%= @sucursal.nombre %>
              </div><br>

              <h4>Telefono:</h4>
              <div class="col-sm-5">
                <%= @sucursal.telefono%>
              </div><br>

              <h4>Gerente:</h4>
              <div class="col-sm-5">
                <% if (@sucursal.contacto_id.nil? == false) %>
                    <%= Contacto.find(@sucursal.contacto_id).nombre%>
                <%end%>
              </div><br>
              <h4>Recepcionista:</h4>
              <div class="col-sm-5">
                <% if (@sucursal.recepcionista_id.nil? == false) %>
                    <%= Contacto.find(@sucursal.recepcionista_id).nombre%>
                <%end%>
              </div><br>
              <h4>Cto principal:</h4>
              <div class="col-sm-5">
                <% if (@sucursal.contactoprincipal_id.nil? == false) %>
                    <%= Contacto.find(@sucursal.contactoprincipal_id).nombre%>
                <%end%>
              </div><br>
              <h4>Cto secundario:</h4>
              <div class="col-sm-5">
                <% if (@sucursal.contactosecundario_id.nil? == false) %>
                    <%= Contacto.find(@sucursal.contactosecundario_id).nombre%>
                <%end%>
              </div><br>
            </div>
            <br>
            <div class="hr-line-dashed"></div>


          </div>

          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <a href="<%= url_for :controller => 'sucursals', :action => 'index' %>">
                <button class="btn btn-outline btn-danger btn-rounded" type="button"><i class="fa fa-list-ol"></i>&nbsp;Listado</button>
              </a>

              <a href="<%= url_for :controller => 'sucursals', :action => 'edit', :id => @sucursal.id %>">
                <button class="btn btn-outline btn-success btn-rounded" type="button"><i class="fa fa-pencil"></i>&nbsp;Editar</button>
              </a>

              <a href="<%= url_for :controller => 'sucursals', :action => 'new' %>">
                <button class="btn btn-outline btn-warning btn-rounded" type="button"><i class="fa fa-plus"></i>&nbsp;Nuevo</button>
              </a>
            </div>



          </div>
          <br><br>




        </div>
      </div>
    </div>
  </div>
</div>





