<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">

    <h2>Listado de Formularios</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for root_path %>">Inicio</a>
      </li>
      <li>
        <a>Operativo</a>
      </li>
      <li class="active">
        <strong>Formularios</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          &nbsp;<a href="<%= url_for new_form_path %>">
          <button class="btn btn-outline btn-warning btn-rounded" type="button"><i class="fa fa-plus"></i>&nbsp;Nuevo</button>
        </a>

          <div class="ibox-tools">
            Total records: <%= @forms.count %>
            <a >
              <i class="fa fa-bars"></i>
            </a>
          </div>

        </div>
        <div class="ibox-content">
          <table class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
            <tr>
              <th>ID</th>
              <th>Cliente</th>
              <th>Nombre</th>
              <th>Procedimiento</th>
              <th>&nbsp;&nbsp;Acciones</th>
            </tr>
            </thead>
            <tbody>
            <% @forms.each do |form| %>
                <tr>
                  <td><%=form.id%></td>
                  <td><%= Cliente.find_by_id(form.try(:cliente_id)).try(:nombre)%></td>
                  <td><%=form.name%></td>
                  <td><%= form.procedure_id.nil? == true ? ("Sin procedimiento"):(form.procedure.name.titleize)  %></td>
                  <td>
                    <%= link_to 'V', form,class: "btn btn-primary btn-circle", title:"Ver" %>
                    <%= link_to 'M', edit_form_path(form), class: "btn btn-warning btn-circle", title:"Modificar" %>
                    <%= link_to 'E', form, method: :delete, class: "btn btn-danger btn-circle", title:"Eliminar" ,data: { confirm: '¿Está seguro?'} %>
                    <%= link_to 'C', field_form_path(form), class: "btn btn-success btn-circle", title:"Ver campos" %>
                  </td>
                </tr>
            <% end %>


            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>


</div>

<% content_for :javascript do %>
    <script type="text/javascript">
        $(function() {
            $('.dataTables-example').dataTable({
                "order": [[ 1, "desc" ]],
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "../assets/dataTables/swf/copy_csv_xls_pdf.swf"
                }
            });
        });

        var config = {
            '.chosen-select'           : {},
            '.chosen-select-deselect'  : {allow_single_deselect:true},
            '.chosen-select-no-single' : {disable_search_threshold:10},
            '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
            '.chosen-select-width'     : {width:"95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    </script>
<% end %>

