<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Formulario<small> para  agregar o modificar a un form1o.</small></h5>

        </div>
        <div class="ibox-content">
          <%= form_for(@form1, class: 'form-horizontal') do |f| %>
              <% if @form1.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= @form1.errors.count %> error(es) no permitieron guardar el registro:</h2>

                    <ul>
                      <% @form1.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

              <div class="form-group">
                <div class="form-group">
                  <%= f.label :cliente, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.select :cliente_id, options_for_select(Cliente.all.collect { |cliente|
                                                                   [cliente.nombre, cliente.id] }, @form1.cliente_id), {}, {class:"chosen-select", style: "width:350px;", :disabled => true } %>

                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label "Operador", class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.select :usuario_id, options_for_select(Usuario.all.collect { |operador|
                                                                   [operador.email, operador.id] }, @form1.usuario_id), {:readonly => true}, {class:"chosen-select", style: "width:350px;",:disabled => true } %>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>


                <% @fields.order(:id).each_with_index do |field, index| %>
                    <%fld = "field" << (index + 1).to_s%>
                    <div class="form-group">
                      <%= f.label field.name, class: 'col-sm-2 control-label'%>
                      <div class="col-sm-5">
                        <%type=field.data_type%>
                        <%case type%>
                        <%when "Date"%>
                            <%if field.mandatory%>
                                <%= f.date_select fld, class: 'form-control', :required => true  %>
                            <%else%>
                                <%= f.date_select fld, class: 'form-control'%>
                            <%end%>
                        <%when "DateTime"%>
                            <%if field.mandatory%>
                                <%= f.datetime_select fld, class: 'form-control', :required => true %>
                            <%else%>
                                <%= f.datetime_select fld, class: 'form-control'%>
                            <%end%>
                        <%when "Integer"%>
                            <%if field.mandatory%>
                                <%= f.number_field fld, class: 'form-control', :required => true %>
                            <%else%>
                                <%= f.number_field fld, class: 'form-control'%>
                            <%end%>
                        <%when "String"%>
                            <%if field.mandatory%>
                                <%= f.text_field fld, class: 'form-control', :required => true %>
                            <%else%>
                                <%= f.text_field fld, class: 'form-control'%>
                            <%end%>
                        <%end%>
                      </div>
                    </div>
                    <br>
                    <div class="hr-line-dashed"></div>
                <%end%>
              </div>


              <div class="actions">
                <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-2">
                    <%if !@form1.cliente.nil?%>
                        <%= link_to "Regresar", captures_consultar_path(@form1.cliente.id), :method => :patch,  class:"btn btn-default"%>
                    <%end%>

                    <%= f.submit "Capturar", class: "btn btn-primary"%>
                  </div>
                </div>
              </div>
              <br><div class="hr-line-dashed"></div>




          <% end %>



        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">


        var config = {
            '.chosen-select'           : {},
            '.chosen-select-deselect'  : {allow_single_deselect:true},
            '.chosen-select-no-single' : {disable_search_threshold:10},
            '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
            '.chosen-select-width'     : {width:"95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    </script>
<% end %>