<div class="col-lg-10">
  <h2>Mostrando Registro de captura de <%=@nameForm%></h2>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Formulario<small> que muestra los datos de una captura.</small></h5>

        </div>
        <div class="ibox-content">

          <div class="form-group">
            <div class="form-group">
              <h4>Cliente:</h4>
              <div class="col-sm-5">
                <%= Cliente.find(@form1.cliente_id).nombre %>
              </div><br>

              <h4>Operador:</h4>
              <div class="col-sm-5">
                <%= Usuario.find_by_id(@form1.usuario_id).email%>
              </div><br>

              <% @fields.order(:id).each_with_index do |field, index| %>
                  <h4><%=field.name%></h4>
                    <div class="col-sm-5">
                      <%case index%>
                      <%when 0%>
                          <%=@form1.field1%>
                      <%when 1%>
                          <%=@form1.field2%>
                      <%when 2%>
                          <%=@form1.field3%>
                      <%when 3%>
                          <%=@form1.field4%>
                      <%when 4%>
                          <%=@form1.field5%>
                      <%when 5%>
                          <%=@form1.field6%>
                      <%when 6%>
                          <%=@form1.field7%>
                      <%when 7%>
                          <%=@form1.field8%>
                      <%when 8%>
                          <%=@form1.field9%>
                      <%when 9%>
                          <%=@form1.field10%>

                      <%when 10%>
                          <%=@form1.field11%>
                      <%when 11%>
                          <%=@form1.field12%>
                      <%when 12%>
                          <%=@form1.field13%>
                      <%when 13%>
                          <%=@form1.field14%>
                      <%when 14%>
                          <%=@form1.field15%>
                      <%when 15%>
                          <%=@form1.field16%>
                      <%when 16%>
                          <%=@form1.field17%>
                      <%when 17%>
                          <%=@form1.field18%>
                      <%when 18%>
                          <%=@form1.field19%>
                      <%when 19%>
                          <%=@form1.field20%>
                      <%end%>
                    </div>
                  <br>
              <%end%>



             </div>


          </div>



          <div class="actions">
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <%if !@form1.cliente.nil?%>
                    <%= link_to "Regresar", captures_consultar_path(@form1.cliente.id), :method => :patch,  class:"btn btn-default"%>
                <%end%>

                <a href="<%= url_for edit_form1_path(@form1) %>">
                  <button class="btn btn-primary" type="button"><i class="fa fa-pencil"></i>&nbsp;Editar</button>
                </a>
              </div>
            </div>
          </div>
          <br><div class="hr-line-dashed"></div>

        </div>
      </div>
    </div>
  </div>
</div>





