<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">

    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for home_index_path %>">Inicio</a>
      </li>
      <li>
        <a>Operativo</a>
      </li>
      <li>
        <a href="<%= url_for fields_path%>">Campos</a>

      </li>
      <li class="active">
        <strong>Agregar / Modificar campo</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Formulario<small> para  agregar o modificar a un campo.</small></h5>

        </div>
        <div class="ibox-content">

          <%= form_for(@field, class: 'form-horizontal') do |f| %>
              <% if @field.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= @field.errors.count %> error(es) no permitieron guardar el registro:</h2>

                    <ul>
                      <% @field.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

              <div class="form-group">
                <div class="form-group">
                  <%= f.label "Formulario", class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.select :form_id, options_for_select(Form.order(:id).collect {|c|  [ "" << c.cliente.nombre << " - " << c.name, c.id] }, @field.form_id), {}, {class:"chosen-select", style: "width:350px;" } %>

                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label "Nombre", class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.text_field :name, class: 'form-control'%>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label "Tipo de dato", class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.select :data_type, options_for_select(Field::DATA_TYPE.collect { |type|
                                                                  [type.to_s] }, @field.data_type), {}, {id: "data_type", class:"chosen-select", style: "width:350px;", onchange: "hide_list();" } %>

                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div id="listfield"  <%= @field.data_type == "List" ? (""):('hidden')%> >
                  <div class="form-group">
                    <%= f.label "Listado", class: 'col-sm-2 control-label'%>
                    <div class="col-sm-5">
                      <% if @field.data_type == "List"%>
                          <%= f.text_field :list, class: 'form-control', placeholder: "valor 1, valor 2, valor 3,  ... valor N", id: "listfld", required: true %>
                      <%else%>
                          <%= f.text_field :list, class: 'form-control', placeholder: "valor 1, valor 2, valor 3,  ... valor N", id: "listfld"%>
                      <%end%>
                    </div>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Los valores del campo tipo lista deben ir separados por coma ',' Ej: Gato, Pez, Lobo ">?</button>
                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>
                </div>

                <div class="form-group">
                  <div class="col-sm-5">
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :show_in_list%>
                      <%= f.label "Mostrar en listado"%>
                    </div>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">


                  <div class="col-sm-5">
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :mandatory%>
                      <%= f.label "Obligatorio"%>
                    </div>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <%= f.label "Comportamiento", class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.select :behave, options_for_select(Field::BEHAVE.collect { |behave|
                                                                  [behave.to_s] }, @field.behave), {}, {class:"chosen-select", style: "width:350px;" } %>

                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                  <%= f.label "Posicion", class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= f.number_field :position, class: 'form-control', required:true, in:1..99%>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>

                <br>
              </div>

              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <a href="<%= url_for fields_path %>">
                    <button class="btn btn-outline btn-danger btn-rounded" type="button"><i class="fa fa-list-ol"></i>&nbsp;Cancelar</button>
                  </a>

                  <%= button_tag(type: 'submit', class: "btn btn-outline btn-success btn-rounded") do %>
                      <i class="fa fa-database"></i> Guardar
                  <% end %>
                </div>



              </div>
              <br><br>
          <% end %>



        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">
        function hide_list() {
            var valor = document.getElementById("data_type").value;
            if (valor == "List") {
                $("#listfield").show(1000);
                document.getElementById("listfld").required = true;

            } else {
                $("#listfield").hide(1000);
                document.getElementById("listfld").required = false;
                $("#listfld").text= "";
            }

        }


        var config = {
            '.chosen-select'           : {},
            '.chosen-select-deselect'  : {allow_single_deselect:true},
            '.chosen-select-no-single' : {disable_search_threshold:10},
            '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
            '.chosen-select-width'     : {width:"95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    </script>
<% end %>
