<div class="modal-dialog modal-lg">
  <div class="modal-content animated flipInX">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
      <h4 class="modal-title">Enviar reporte</h4>
    </div>
    <div class="modal-body">
      <%= form_for @report, url: send_query_report_path(cambiar el path por uno nuevo), method: "patch", class: 'form-horizontal'  do |f| %>
          <%= hidden_field_tag 'id', @report.id%>
          <%= hidden_field_tag 'listado', false%>
          <div class="form-group">
            <div class="hr-line-dashed"></div>
            <%= f.label "Destinatario", class: 'col-sm-2 control-label'%>
            <div class="col-sm-5">
              <%= select_tag :recipient, options_for_select(@report.cliente.contactos.where.not(email: nil).order(:nombre).collect { |c|
                                                              [c.nombre << ' <' << (c.email.nil? ? (""):(c.email))  << '>', c.email] }, 0),  { class:"form-control m-b", style: "width:500px;",multiple: true, required:true} %>    



            </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="hr-line-dashed"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                <i class="fa fa-envelope"></i> Enviar
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">


        $('#myModal3').on('show.bs.modal', function(e) {

            //get data-id attribute of the clicked element
            var bookId = $(e.relatedTarget).data('information-id');

            //populate the textbox
            $(e.currentTarget).find('input[id="idunico"]').val(bookId);
        });

    </script>

<% end %>