
<div class="col-lg-10">
  <h2>Mostrar reporte personalizado</h2>
</div>
<p id="notice"><%= notice %></p>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">

    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for home_index_path %>">Inicio</a>
      </li>
      <li>
        <a>Operativo</a>
      </li>
      <li>
        <a href="<%= url_for report_customize_path %>">Reportes personalizados</a>
      </li>
      <li class="active">
        <strong>Mostrar</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Formulario<small> que muestra los datos de un reporte.</small></h5>

        </div>
        <div class="ibox-content">

          <div class="form-group">
            <div class="form-group">
              <h4>Nombre:</h4>
              <div class="col-sm-5">
                <%= @report.name%>
              </div><br>

              <h4>Cliente:</h4>
              <div class="col-sm-5">
                <%= @report.cliente.nombre %>
              </div><br>

              <h4>Cuentas:</h4>
              <div class="col-sm-5">
                <%= @report.datosgenerales.all.collect{|d| d.account}%>
              </div><br>

              <h4>Informacion proveniente de:</h4>
              <div class="col-sm-5">
                <%= @report.form.name%>
              </div><br>

              <h4>Rango de fechas:</h4>
              <div class="col-sm-5">
                <%=I18n.l(@report.start_day, format: '%Y-%m-%d') << " " << @report.start_day.strftime("%I:%M%p")    << ' - ' << I18n.l(@report.end_day, format: '%Y-%m-%d')<< " " << @report.end_day.strftime("%I:%M%p") %>
              </div><br>

            </div>
            <div class="hr-line-dashed"></div>


          </div>

          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <a href="<%= url_for report_customize_path %>">
                <button class="btn btn-outline btn-danger btn-rounded" type="button"><i class="fa fa-list-ol"></i>&nbsp;Listado</button>
              </a>

              <a href="<%= url_for report_edit_query_path(@report) %>">
                <button class="btn btn-outline btn-success btn-rounded" type="button"><i class="fa fa-pencil"></i>&nbsp;Editar</button>
              </a>

              <a href="<%= url_for report_new_query_path %>">
                <button class="btn btn-outline btn-warning btn-rounded" type="button"><i class="fa fa-plus"></i>&nbsp;Nuevo</button>
              </a>
            </div>



          </div>
          <br><br>




        </div>
      </div>
    </div>
  </div>
</div>





