<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">

    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'home', :action => 'index' %>">Inicio</a>
      </li>
      <li>
        <a>Operativo</a>
      </li>
      <li>
        <a href="<%= url_for :controller => 'mensaje_configuracions', :action => 'index' %>">Captura Mensajes - configuracion</a>

      </li>
      <li class="active">
        <strong>Agregar / Modificar Configuracion - Captura de mensajes</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Formulario<small> para  agregar o modificar la configuracion de la pantalla de captura de mensajes.</small></h5>

        </div>
        <div class="ibox-content">

          <%= form_for(@mensaje_configuracion, controller: "mensaje_configuracions", action: "create", class: 'form-horizontal') do |f| %>
              <% if @mensaje_configuracion.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= @mensaje_configuracion.errors.count %> error(es) no permitieron guardar el registro:</h2>

                    <ul>
                      <% @mensaje_configuracion.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

              <div class="form-group">
                <div class="form-group">
                  <%= f.label :cliente, class: 'col-sm-2 control-label'%>
                  <div class="col-sm-5">
                    <%= select("post", "cliente_id", Cliente.all.collect {|p| [ p.nombre, p.id ] },
                               {prompt: 'Seleccione cliente',selected: @mensaje_configuracion.cliente_id, required: true}, { class: 'chosen-select', style: "width:350px;"}) %>

                  </div>
                </div>
                <br><br>
                <div class="hr-line-dashed"></div>


                <div class="form-group">
                  <%= f.label :ticket%>
                  <%= f.select :ticket,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= f.label :compania%>
                  <%= f.select :compania,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= f.label "Audio conferencia reporta"%>
                  <%= f.select :audioconferenciaReporta,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                </div>
                <br>
                <div class="hr-line-dashed"></div>


                <div class="form-group" >
                  <%= f.label "Poliza o Contrato"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="No. de contratro o No. de poliza">?</button>
                  <%= f.select :polizaContrato,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= f.label "Descripcion Emergencia"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Me puede describir en que consiste la emergencia">?</button>
                  <%= f.select :descripcionEmergencia,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= f.label "Identificar Sistema"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Puede ayudarme a identificar el sistema, gasoducto o GNC (camion)">?</button>
                  <%= f.select :identificarSistema,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                </div>
                <br>
                <div class="hr-line-dashed"></div>



                <div class="form-group" >
                  <%= f.label :referencia%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Me puede proporcionar un punto de referencia">?</button>
                  <%= f.select :referencia,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= f.label "Comentarios Extra"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Su reporte sera atendido por el operador correspondiente, ¿desea comentar algo mas?">?</button>
                  <%= f.select :comentariosExtra,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= f.label "Aviso Nombre"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Se dio aviso a: (Nombre)">?</button>
                  <%= f.select :avisoNombre,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                </div>
                <br>
                <div class="hr-line-dashed"></div>


                <div class="form-group" >
                  <%= f.label "Aviso Fecha"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Se dio aviso a: (Fecha)">?</button>
                  <%= f.select :avisoFecha,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Notifico Nombre"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Se notifico a (Nombre)">?</button>
                  <%= f.select :notificoNombre,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= f.label "Notifico Fecha"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Se notifico a (Fecha)">?</button>
                  <%= f.select :notificoFechaHora,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                </div>
                <br>
                <div class="hr-line-dashed"></div>


                <div class="form-group" >

                  <%= f.label "R Llegada Sitio Op"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Reporte de llegada al sitio (Nombre del operador)">?</button>
                  <%= f.select :rllsOperador,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "R Llegada Sitio Fecha"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Reporte de llegada al sitio (Fecha + Hora)">?</button>
                  <%= f.select :rllsFechaHora,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Tiempo respuesta"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Tiempo de respuesta a la emergencia">?</button>
                  <%= f.select :tiempoRespuesta,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                </div>
                <br>
                <div class="hr-line-dashed"></div>


                <div class="form-group" >
                  <%= f.label "Notificacion llegada al sitio"%>
                  <%= f.select :notificacionLlegadaSitio,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "R Fin Emergencia"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Reporte de terminacion de la emergencia (Operador)">?</button>
                  <%= f.select :rteOperador,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "R Fin  Emergencia Fecha"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Reporte de terminacion de la emergencia (Fecha + Hora)">?</button>
                  <%= f.select :rteFechaHora,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                </div>
                <br>
                <div class="hr-line-dashed"></div>



                <div class="form-group" >
                  <%= f.label "Situacion de la emergencia"%>
                  <%= f.select :situacionEmergencia,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Duracion emergencia"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Tiempo de duracion de la emergencia">?</button>
                  <%= f.select :duracionEmeregencia,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                  <%= f.label "Falta suministro gas"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Si reporta que falta suministro de gas preguntar desde que hora no tienen gas, si hay olor o ruido">?</button>
                  <%= f.select :faltaSuministroGas,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                </div>
                <br>
                <div class="hr-line-dashed"></div>


                <div class="form-group">
                  <%= f.label :sucursal%>
                  <%= f.select :sucursal,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :tipoLlamada%>
                  <%= f.select :tipoLlamada,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :codigo%>
                  <%= f.select :codigo,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Hora enlace"%>
                  <%= f.select :horaEnlace,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                </div>
                <br>
                <div class="hr-line-dashed"></div>



                <div class="form-group" >
                  <%= f.label "Medio se entero"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Por cual medio se entero de la compañia o de nuestros servicios">?</button>
                  <%= f.select :medioSeEntero,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Termino del chat"%>
                  <%= f.select :terminoChat,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Telefono fijo o movil"%>
                  <%= f.select :fijoMovil,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                </div>
                <br>
                <div class="hr-line-dashed"></div>


                <div class="form-group">
                  <%= f.label "Telefono origen"%>
                  <%= f.select :telefonoOrigen,  MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                  <%= f.label "Codigo de acceso"%>
                  <%= f.select :codigoAcceso, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"} %>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Codigo de organizador"%>
                  <%= f.select :codigoOrganizador, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>

                </div>
                <br>
                <div class="hr-line-dashed"></div>



                <div class="form-group" >

                    <%= f.label "Pais origino"%>
                  <%= f.select :paisOrigino, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Localidad origino"%>
                  <%= f.select :localidadOrigino, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Motivo denuncia"%>
                  <%= f.select :motivoDenuncia, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;


                    <%= f.label "Telefono origen"%>
                  <%= f.select :telefonoOrigen, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Numero de control"%>
                  <%= f.select :numeroControl, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                </div>
                <br>
                <div class="hr-line-dashed"></div>




                <div class="form-group" >


                    <%= f.label "Tipo Delito"%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Tipo de delito o acto denunciado">?</button>
                  <%= f.select :tipoDelito, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Puesto involucrado"%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Personal puesto o departamento involucrado">?</button>
                    <%= f.select :puestoInvolucrado, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Resultado o estatus"%>
                  <%= f.select :resultadoEstatus, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>

                </div>
                <br>
                <div class="hr-line-dashed"></div>



                <div class="form-group" >
                  <%= f.label "Email contacto"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Email del contacto informado en caso de solicitar la grabacion">?</button>
                  <%= f.select :emailContacto, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :marca%>
                  <%= f.select :marca, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :modelo%>
                  <%= f.select :modelo, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "No serie"%>
                  <%= f.select :serie, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>

                </div>
                <br>
                <div class="hr-line-dashed"></div>





                <div class="form-group" >


                      <%= f.label "Nombre beneficiario"%>
                  <%= f.select :beneficiario, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;


                      <%= f.label "Contacto beneficiario"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Persona a contactar por parte del beneficiario">?</button>
                      <%= f.select :contactoBeneficiario, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;


                      <%= f.label "Nombre del fiado"%>
                  <%= f.select :nombreFiado, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>



                </div>
                <br>
                <div class="hr-line-dashed"></div>



                <div class="form-group" >
                  <%= f.label "Puesto del fiado"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Puesto que desempeña el fiado">?</button>
                  <%= f.select :puestoFiado, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Monto a reportar"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Monto aproximado a reportar">?</button>
                  <%= f.select :montoReportar, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Enlazada correctamente"%>
                  <%= f.select :enlazadaCorrectamente, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>

                </div>
                <br>
                <div class="hr-line-dashed"></div>





                <div class="form-group" >


                    <%= f.label "No. intentos"%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Numero de intentos para enlace">?</button>
                  <%= f.select :intentosEnlace, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Duracion llamada"%>
                  <%= f.select :duracionLlamada, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Origen GAMI"%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="En donde se origino el codigo GAMI">?</button>
              <%= f.select :origenCodigoGami, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>



                </div>
              </div>
              <br>
              <div class="hr-line-dashed"></div>





              <div class="form-group" >
                <%= f.label "Codigo GAMI"%>
                <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Que codigo GAMI reporta">?</button>
                <%= f.select :codigoGami, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <%= f.label "Tipo emergencia"%>
                <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Que tipo de emergencia tiene, preguntar en caso de codigo amarillo y rojo">?</button>
                <%= f.select :tipoEmergencia, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <%= f.label "Empresa Gami"%>
                <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Nombre de la empresa a la que se da aviso de codigo GAMI">?</button>
                <%= f.select :empresaCodigoGami, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>

              </div>
              <br>
              <div class="hr-line-dashed"></div>




              <div class="form-group" >

                  <%= f.label "Nomenclatura del sistema"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Nomenclatura del sistema que reporta">?</button>
                  <%= f.select :nomenclaturaSistema, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Persona recibe"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Nombre de la persona que recibira al tecnico y sellara la WO una vez concluido el servicio">?</button>
                  <%= f.select :personaRecibe, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Razon social"%>
                <%= f.select :razonSocial, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>




              </div>






              <div class="form-group" >
                <%= f.label :rfc%>
                <%= f.select :rfc, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <%= f.label "Ticket cliente"%>
                <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Numero de ticket del cliente">?</button>
                <%= f.select :ticketCliente, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <%= f.label "Relacion con paciente"%>
                <%= f.select :relacionPaciente, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>

              </div>
              <br>
              <div class="hr-line-dashed"></div>

              <div class="form-group" >

                <%= f.label "Lugar del tumor"%>
                <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Lugar donde tiene el tumor">?</button>
                <%= f.select :lugarTumor, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Institucion atiende"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Institucion donde se atiende">?</button>
                  <%= f.select :institucionAtiende, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Medico tratante"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Nombre del medico tratante">?</button>
                  <%= f.select :medicoTratante, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>

              </div>
              <br>
              <div class="hr-line-dashed"></div>
              <div class="form-group" >


                  <%= f.label "Programa de interes"%>
                <%= f.select :programaInteres, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>

                &nbsp;&nbsp;&nbsp;&nbsp;
                  <%= f.label :club%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Club en el que juega">?</button>
                  <%= f.select :club, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :handicap%>
                <%= f.select :handicap, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>

              </div>
              <br>
              <div class="hr-line-dashed"></div>


              <div class="form-group" >
                <%= f.label "Red conecta"%>
                <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Red a la que intenta conectarse">?</button>
                <%= f.select :redConecta, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <%= f.label "Intensidad de señal"%>
                <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Intensidad de su señal. ALTA, BUENA, BAJA, NULA, si es baja o nula pregutar por su ubicacion fisica">?</button>
                <%= f.select :intensidadSenal, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <%= f.label "Ubicacion fisica"%>
                <%= f.select :ubicacionFisica, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
              </div>
              <br>
              <div class="hr-line-dashed"></div>


              <div class="form-group" >
                  <%= f.label :ipv4%>
                <%= f.select :ipv4, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :macAddress%>
                <%= f.select :macAddress, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :hotel%>
                <%= f.select :hotel, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :habitacion%>
                <%= f.select :habitacion, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>

              </div>


              <br>
              <div class="hr-line-dashed"></div>

              <div class="form-group" >

                <%= f.label :usuario%>
                <%= f.select :usuario, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :contrasena%>
                  <%= f.select :contrasena, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                  <%= f.label "Tiempo contrato"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Por cuanto tiempo contrato la señal de internet">?</button>
                  <%= f.select :tiempoContrato, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
              </div>
              <br>
              <div class="hr-line-dashed"></div>


              <div class="form-group" >


                  <%= f.label :dispositivo%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Con que dispositivo intenta conectarse a internet">?</button>
                  <%= f.select :dispositivo, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :acuse%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Se recibio acuse de recibo?">?</button>
                  <%= f.select :acuse, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Fecha cirugia"%>
                <%= f.select :fechaCirugia, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :hospital%>
                <%= f.select :hospital, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>

              </div>
              <br>
              <div class="hr-line-dashed"></div>

              <div class="form-group" >
                <%= f.label "Tipo de cirugia"%>
                <%= f.select :tipoCirugia, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <%= f.label :especidalidad%>
                <%= f.select :especidalidad, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <%= f.label "Nombre del paciente"%>
                <%= f.select :paciente, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
              </div>
              <br>
              <div class="hr-line-dashed"></div>



              <div class="form-group" >


                  <%= f.label "Cargo persona"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Cargo de la persona que llama">?</button>
                  <%= f.select :cargoPersona, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Telefono del medico"%>
                <%= f.select :telefonoMedico, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Equipo especial"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Se requiere equipo especial">?</button>
                  <%= f.select :equipoEspecial, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>

              </div>

              <br>
              <div class="hr-line-dashed"></div>

              <div class="form-group" >

                <%= f.label "Telefono del paciente"%>
                <%= f.select :telefonoPaciente, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <%= f.label "Telefono del paciente"%>
                <%= f.select :telefonoMedico, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <%= f.label "Nombre del procedimiento"%>
                <%= f.select :procedimiento, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                </div>
              <br>
              <div class="hr-line-dashed"></div>

              <div class="form-group" >
                <%= f.label "Fecha procedimiento"%>
                <%= f.select :fechaProcedimiento, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <%= f.label "Equipo detenido"%>
                <%= f.select :equipoDetenido, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <%= f.label "No de fianza"%>
                <%= f.select :fianza, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <%= f.label :inclusion%>
                <%= f.select :inclusion, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>


              </div>




              <br>
              <div class="hr-line-dashed"></div>

              <div class="form-group" >
                <%= f.label "Codigo de seguridad"%>
                <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Codigo de seguridad o No de control">?</button>
                <%= f.select :codigoSeguridad, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <%= f.label "Linea de validacion"%>
                <%= f.select :lineaValidacion, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <%= f.label "Tipo de poliza"%>
                <%= f.select :tipoPoliza, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                </div>
              <br>
              <div class="hr-line-dashed"></div>



              <div class="form-group" >




                  <%= f.label "Telefono del fiado"%>
                <%= f.select :telefonoFiado, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Direccion del fiado"%>
                <%= f.select :direccionFiado, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Lugar fianza"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Codigo de seguridad o No de control">?</button>
                  <%= f.select :lugarFianza, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>


              </div>



              <br>
              <div class="hr-line-dashed"></div>
              <div class="form-group" >

                  <%= f.label "Vendedor de fianza"%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Nombre de la persona que vendio la fianza">?</button>
                  <%= f.select :vendedorFianza, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Forma pago de la fianza"%>
                <%= f.select :formaPagoFianza, MensajeConfiguracion::OPCIONES.collect { |opcion| [opcion.to_s.titleize] }, {:include_blank => ''}, {class:"chosen-select", style: "width:170px;"}%>
                </div>


              </div>

              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <a href="<%= url_for :controller => 'mensaje_configuracions', :action => 'index' %>">
                    <button class="btn btn-outline btn-danger btn-rounded" type="button"><i class="fa fa-list-ol"></i>&nbsp;Cancelar</button>
                  </a>

                  <%= button_tag(type: 'submit', class: "btn btn-outline btn-success btn-rounded") do %>
                      <i class="fa fa-database"></i> Guardar
                  <% end %>
                </div>



              </div>
              <br><br>
          <% end %>



        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :javascript do %>

    <script type="text/javascript">


        var config = {
            '.chosen-select'           : {},
            '.chosen-select-deselect'  : {allow_single_deselect:true},
            '.chosen-select-no-single' : {disable_search_threshold:10},
            '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
            '.chosen-select-width'     : {width:"95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    </script>
<% end %>


