
<div class="col-lg-10">
  <h2>Mostrar Configuracion Captura de mensajes</h2>
</div>
<p id="notice"><%= notice %></p>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">

    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'home', :action => 'index' %>">Inicio</a>
      </li>
      <li>
        <a>Operativo</a>
      </li>
      <li>
        <a href="<%= url_for :controller => 'mensaje_configuracions', :action => 'index' %>">Captura Mensajes - configuracion</a>

      </li>
      <li class="active">
        <strong>Mostrar</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Formulario<small> que muestra los datos de configuracion de la captura de mensajes.</small></h5>

        </div>
        <div class="ibox-content">

          <div class="ibox-content">

            <%= form_for(@mensaje_configuracion, controller: "mensaje_configuracions", action: "create", class: 'form-horizontal') do |f| %>
                <% if @mensaje_configuracion.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= @mensaje_configuracion.errors.count %> error(es) no permitieron guardar el registro:</h2>

                      <ul>
                        <% @mensaje_configuracion.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>

                <div class="form-group">
                  <div class="form-group">
                    <%= f.label "Cliente:", class: 'col-sm-2 control-label'%>
                    <div class="col-sm-5">
                      <%= Cliente.find(@mensaje_configuracion.cliente_id).nombre %>
                    </div>
                  </div>
                  <br><br>
                  <div class="hr-line-dashed"></div>

                  <div class="form-group">
                    <%= f.label :ticket%>
                    <%= @mensaje_configuracion.ticket%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= f.label :compania%>
                    <%= @mensaje_configuracion.compania%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= f.label "Audio conferencia reporta: "%>
                    <%= @mensaje_configuracion.audioconferenciaReporta%>
                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>


                  <div class="form-group" >
                    <%= f.label "Poliza o Contrato: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="No. de contratro o No. de poliza">?</button>
                    <%= @mensaje_configuracion.polizaContrato%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= f.label "Descripcion Emergencia: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Me puede describir en que consiste la emergencia">?</button>
                    <%= @mensaje_configuracion.descripcionEmergencia%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= f.label "Identificar Sistema: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Puede ayudarme a identificar el sistema, gasoducto o GNC (camion)">?</button>
                    <%= @mensaje_configuracion.identificarSistema%>
                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>



                  <div class="form-group" >
                    <%= f.label :referencia%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Me puede proporcionar un punto de referencia">?</button>
                    <%= @mensaje_configuracion.referencia%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= f.label "Comentarios Extra: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Su reporte sera atendido por el operador correspondiente, ¿desea comentar algo mas?">?</button>
                    <%= @mensaje_configuracion.comentariosExtra%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= f.label "Aviso Nombre: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Se dio aviso a: (Nombre)">?</button>
                    <%= @mensaje_configuracion.avisoNombre%>
                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>


                  <div class="form-group" >
                    <%= f.label "Aviso Fecha: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Se dio aviso a: (Fecha)">?</button>
                    <%= @mensaje_configuracion.avisoFecha%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Notifico Nombre: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Se notifico a (Nombre)">?</button>
                    <%= @mensaje_configuracion.notificoNombre%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= f.label "Notifico Fecha: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Se notifico a (Fecha)">?</button>
                    <%= @mensaje_configuracion.notificoFechaHora%>
                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>


                  <div class="form-group" >

                    <%= f.label "R Llegada Sitio Op: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Reporte de llegada al sitio (Nombre del operador)">?</button>
                    <%= @mensaje_configuracion.rllsOperador%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "R Llegada Sitio Fecha: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Reporte de llegada al sitio (Fecha + Hora)">?</button>
                    <%= @mensaje_configuracion.rllsFechaHora%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Tiempo respuesta: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Tiempo de respuesta a la emergencia">?</button>
                    <%= @mensaje_configuracion.tiempoRespuesta%>
                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>


                  <div class="form-group" >
                    <%= f.label "Notificacion llegada al sitio: "%>
                    <%= @mensaje_configuracion.notificacionLlegadaSitio%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "R Fin Emergencia: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Reporte de terminacion de la emergencia (Operador)">?</button>
                    <%= @mensaje_configuracion.rteOperador%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "R Fin  Emergencia Fecha: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Reporte de terminacion de la emergencia (Fecha + Hora)">?</button>
                    <%= @mensaje_configuracion.rteFechaHora%>
                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>



                  <div class="form-group" >
                    <%= f.label "Situacion de la emergencia: "%>
                    <%= @mensaje_configuracion.situacionEmergencia%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Duracion emergencia: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Tiempo de duracion de la emergencia">?</button>
                    <%= @mensaje_configuracion.duracionEmeregencia%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                    <%= f.label "Falta suministro gas: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Si reporta que falta suministro de gas preguntar desde que hora no tienen gas, si hay olor o ruido">?</button>
                    <%= @mensaje_configuracion.faltaSuministroGas%>
                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>


                  <div class="form-group">
                    <%= f.label :sucursal%>
                    <%= @mensaje_configuracion.sucursal%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label :tipoLlamada%>
                    <%= @mensaje_configuracion.tipoLlamada%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label :codigo%>
                    <%= @mensaje_configuracion.codigo%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Hora enlace: "%>
                    <%= @mensaje_configuracion.horaEnlace%>
                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>



                  <div class="form-group" >
                    <%= f.label "Medio se entero: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Por cual medio se entero de la compañia o de nuestros servicios">?</button>
                    <%= @mensaje_configuracion.medioSeEntero%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Termino del chat: "%>
                    <%= @mensaje_configuracion.terminoChat%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Telefono fijo o movil: "%>
                    <%= @mensaje_configuracion.fijoMovil%>
                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>


                  <div class="form-group">
                    <%= f.label "Telefono origen: "%>
                    <%= @mensaje_configuracion.telefonoOrigen%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                    <%= f.label "Codigo de acceso: "%>
                    <%= @mensaje_configuracion.codigoAcceso%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Codigo de organizador: "%>
                    <%= @mensaje_configuracion.codigoOrganizador%>

                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>



                  <div class="form-group" >

                    <%= f.label "Pais origino: "%>
                    <%= @mensaje_configuracion.paisOrigino%>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Localidad origino: "%>
                    <%= @mensaje_configuracion.localidadOrigino%>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Motivo denuncia: "%>
                    <%= @mensaje_configuracion.motivoDenuncia%>
                    &nbsp;&nbsp;&nbsp;&nbsp;


                    <%= f.label "Telefono origen: "%>
                    <%= @mensaje_configuracion.telefonoOrigen%>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Numero de control: "%>
                    <%= @mensaje_configuracion.numeroControl%>
                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>




                  <div class="form-group" >


                    <%= f.label "Tipo Delito: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Tipo de delito o acto denunciado">?</button>
                    <%= @mensaje_configuracion.tipoDelito%>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Puesto involucrado: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Personal puesto o departamento involucrado">?</button>
                    <%= @mensaje_configuracion.puestoInvolucrado%>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Resultado o estatus: "%>
                    <%= @mensaje_configuracion.resultadoEstatus%>

                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>



                  <div class="form-group" >
                    <%= f.label "Email contacto: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Email del contacto informado en caso de solicitar la grabacion">?</button>
                    <%= @mensaje_configuracion.emailContacto%>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label :marca%>
                    <%= @mensaje_configuracion.marca%>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label :modelo%>
                    <%= @mensaje_configuracion.modelo%>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "No serie: "%>
                    <%= @mensaje_configuracion.serie%>

                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>





                  <div class="form-group" >


                    <%= f.label "Nombre beneficiario: "%>
                    <%= @mensaje_configuracion.beneficiario%>
                    &nbsp;&nbsp;&nbsp;&nbsp;


                    <%= f.label "Contacto beneficiario: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Persona a contactar por parte del beneficiario">?</button>
                    <%= @mensaje_configuracion.contactoBeneficiario%>
                    &nbsp;&nbsp;&nbsp;&nbsp;


                    <%= f.label "Nombre del fiado: "%>
                    <%= @mensaje_configuracion.nombreFiado%>



                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>



                  <div class="form-group" >
                    <%= f.label "Puesto del fiado: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Puesto que desempeña el fiado">?</button>
                    <%= @mensaje_configuracion.puestoFiado%>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Monto a reportar: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Monto aproximado a reportar">?</button>
                    <%= @mensaje_configuracion.montoReportar%>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Enlazada correctamente: "%>
                    <%= @mensaje_configuracion.enlazadaCorrectamente%>

                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>





                  <div class="form-group" >


                    <%= f.label "No. intentos: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Numero de intentos para enlace">?</button>
                    <%= @mensaje_configuracion.intentosEnlace%>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Duracion llamada: "%>
                    <%= @mensaje_configuracion.duracionLlamada%>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <%= f.label "Origen GAMI: "%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="En donde se origino el codigo GAMI">?</button>
                    <%= @mensaje_configuracion.origenCodigoGami%>



                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>





                <div class="form-group" >
                  <%= f.label "Codigo GAMI: "%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Que codigo GAMI reporta">?</button>
                  <%= @mensaje_configuracion.codigoGami%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Tipo emergencia: "%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Que tipo de emergencia tiene, preguntar en caso de codigo amarillo y rojo">?</button>
                  <%= @mensaje_configuracion.tipoEmergencia%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Empresa Gami: "%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Nombre de la empresa a la que se da aviso de codigo GAMI">?</button>
                  <%= @mensaje_configuracion.empresaCodigoGami%>

                </div>
                <br>
                <div class="hr-line-dashed"></div>




                <div class="form-group" >

                  <%= f.label "Nomenclatura del sistema: "%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Nomenclatura del sistema que reporta">?</button>
                  <%= @mensaje_configuracion.nomenclaturaSistema%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Persona recibe: "%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Nombre de la persona que recibira al tecnico y sellara la WO una vez concluido el servicio">?</button>
                  <%= @mensaje_configuracion.personaRecibe%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Razon social: "%>
                  <%= @mensaje_configuracion.razonSocial%>




                </div>






                <div class="form-group" >
                  <%= f.label :rfc%>
                  <%= @mensaje_configuracion.rfc%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Ticket cliente: "%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Numero de ticket del cliente">?</button>
                  <%= @mensaje_configuracion.ticketCliente%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Relacion con paciente: "%>
                  <%= @mensaje_configuracion.relacionPaciente%>

                </div>
                <br>
                <div class="hr-line-dashed"></div>

                <div class="form-group" >

                  <%= f.label "Lugar del tumor: "%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Lugar donde tiene el tumor">?</button>
                  <%= @mensaje_configuracion.lugarTumor%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Institucion atiende: "%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Institucion donde se atiende">?</button>
                  <%= @mensaje_configuracion.institucionAtiende%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Medico tratante: "%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Nombre del medico tratante">?</button>
                  <%= @mensaje_configuracion.medicoTratante%>

                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group" >


                  <%= f.label "Programa de interes: "%>
                  <%= @mensaje_configuracion.programaInteres%>

                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <%= f.label :club%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Club en el que juega">?</button>
                  <%= @mensaje_configuracion.club%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :handicap%>
                  <%= @mensaje_configuracion.handicap%>

                </div>
                <br>
                <div class="hr-line-dashed"></div>


                <div class="form-group" >
                  <%= f.label "Red conecta: "%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Red a la que intenta conectarse">?</button>
                  <%= @mensaje_configuracion.redConecta%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Intensidad de señal: "%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Intensidad de su señal. ALTA, BUENA, BAJA, NULA, si es baja o nula pregutar por su ubicacion fisica">?</button>
                  <%= @mensaje_configuracion.intensidadSenal%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Ubicacion fisica: "%>
                  <%= @mensaje_configuracion.ubicacionFisica%>
                </div>
                <br>
                <div class="hr-line-dashed"></div>


                <div class="form-group" >
                  <%= f.label :ipv4%>
                  <%= @mensaje_configuracion.ipv4%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :macAddress%>
                  <%= @mensaje_configuracion.macAddress%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :hotel%>
                  <%= @mensaje_configuracion.hotel%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :habitacion%>
                  <%= @mensaje_configuracion.habitacion%>

                </div>


                <br>
                <div class="hr-line-dashed"></div>

                <div class="form-group" >

                  <%= f.label :usuario%>
                  <%= @mensaje_configuracion.usuario%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :contrasena%>
                  <%= @mensaje_configuracion.contrasena%>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <%= f.label "Tiempo contrato: "%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Por cuanto tiempo contrato la señal de internet">?</button>
                  <%= @mensaje_configuracion.tiempoContrato%>
                </div>
                <br>
                <div class="hr-line-dashed"></div>


                <div class="form-group" >


                  <%= f.label :dispositivo%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Con que dispositivo intenta conectarse a internet">?</button>
                  <%= @mensaje_configuracion.dispositivo%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :acuse%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Se recibio acuse de recibo?">?</button>
                  <%= @mensaje_configuracion.acuse%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Fecha cirugia: "%>
                  <%= @mensaje_configuracion.fechaCirugia%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :hospital%>
                  <%= @mensaje_configuracion.hospital%>

                </div>
                <br>
                <div class="hr-line-dashed"></div>

                <div class="form-group" >
                  <%= f.label "Tipo de cirugia: "%>
                  <%= @mensaje_configuracion.tipoCirugia%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :especidalidad%>
                  <%= @mensaje_configuracion.especidalidad%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Nombre del paciente: "%>
                  <%= @mensaje_configuracion.paciente%>
                </div>
                <br>
                <div class="hr-line-dashed"></div>



                <div class="form-group" >


                  <%= f.label "Cargo persona: "%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Cargo de la persona que llama">?</button>
                  <%= @mensaje_configuracion.cargoPersona%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Telefono del medico: "%>
                  <%= @mensaje_configuracion.telefonoMedico%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Equipo especial: "%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Se requiere equipo especial">?</button>
                  <%= @mensaje_configuracion.equipoEspecial%>

                </div>

                <br>
                <div class="hr-line-dashed"></div>

                <div class="form-group" >

                  <%= f.label "Telefono del paciente: "%>
                  <%= @mensaje_configuracion.telefonoPaciente%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Telefono del paciente: "%>
                  <%= @mensaje_configuracion.telefonoMedico%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Nombre del procedimiento: "%>
                  <%= @mensaje_configuracion.procedimiento%>
                </div>
                <br>
                <div class="hr-line-dashed"></div>

                <div class="form-group" >
                  <%= f.label "Fecha procedimiento: "%>
                  <%= @mensaje_configuracion.fechaProcedimiento%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Equipo detenido: "%>
                  <%= @mensaje_configuracion.equipoDetenido%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "No de fianza: "%>
                  <%= @mensaje_configuracion.fianza%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label :inclusion%>
                  <%= @mensaje_configuracion.inclusion%>


                </div>




                <br>
                <div class="hr-line-dashed"></div>

                <div class="form-group" >
                  <%= f.label "Codigo de seguridad: "%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Codigo de seguridad o No de control">?</button>
                  <%= @mensaje_configuracion.codigoSeguridad%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Linea de validacion: "%>
                  <%= @mensaje_configuracion.lineaValidacion%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Tipo de poliza: "%>
                  <%= @mensaje_configuracion.tipoPoliza%>
                </div>
                <br>
                <div class="hr-line-dashed"></div>



                <div class="form-group" >




                  <%= f.label "Telefono del fiado: "%>
                  <%= @mensaje_configuracion.telefonoFiado%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Direccion del fiado: "%>
                  <%= @mensaje_configuracion.direccionFiado%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Lugar fianza: "%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Codigo de seguridad o No de control">?</button>
                  <%= @mensaje_configuracion.lugarFianza%>


                </div>



                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group" >

                  <%= f.label "Vendedor de fianza: "%>
                  <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Nombre de la persona que vendio la fianza">?</button>
                  <%= @mensaje_configuracion.vendedorFianza%>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <%= f.label "Forma pago de la fianza: "%>
                  <%= @mensaje_configuracion.formaPagoFianza%>
                </div>


                </div>
            <%end%>

          </div>

          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <a href="<%= url_for :controller => 'mensaje_configuracions', :action => 'index' %>">
                <button class="btn btn-outline btn-danger btn-rounded" type="button"><i class="fa fa-list-ol"></i>&nbsp;Listado</button>
              </a>

              <a href="<%= url_for :controller => 'mensaje_configuracions', :action => 'edit', :id => @mensaje_configuracion.id %>">
                <button class="btn btn-outline btn-success btn-rounded" type="button"><i class="fa fa-pencil"></i>&nbsp;Editar</button>
              </a>

              <a href="<%= url_for :controller => 'mensaje_configuracions', :action => 'new' %>">
                <button class="btn btn-outline btn-warning btn-rounded" type="button"><i class="fa fa-plus"></i>&nbsp;Nuevo</button>
              </a>
            </div>



          </div>
          <br><br>




        </div>
      </div>
    </div>
  </div>
</div>





