
<div class="col-lg-10">
  <h2>Mostrar Configuracion Captura de mensajes</h2>
</div>
<p id="notice"><%= notice %></p>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">

    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'home', :action => 'index' %>">Inicio</a>
      </li>
      <li>
        <a>Operativo</a>
      </li>
      <li>
        <a href="<%= url_for :controller => 'mensaje_configuracions', :action => 'index' %>">Captura Mensajes - configuracion</a>

      </li>
      <li class="active">
        <strong>Mostrar</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Formulario<small> que muestra los datos de configuracion de la captura de mensajes.</small></h5>

        </div>
        <div class="ibox-content">

          <div class="ibox-content">

            <%= form_for(@mensaje_configuracion, controller: "mensaje_configuracions", action: "create", class: 'form-horizontal') do |f| %>
                <% if @mensaje_configuracion.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= @mensaje_configuracion.errors.count %> error(es) no permitieron guardar el registro:</h2>

                      <ul>
                        <% @mensaje_configuracion.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>

                <div class="form-group">
                  <div class="form-group">
                    <%= f.label "Cliente:", class: 'col-sm-2 control-label'%>
                    <div class="col-sm-5">
                      <%= Cliente.find(@mensaje_configuracion.cliente_id).nombre %>
                    </div>
                  </div>
                  <br><br>
                  <div class="hr-line-dashed"></div>

                  <div class="form-group" >
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :ticket , :disabled => true %>
                      <%= f.label :ticket%>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :audioconferenciaReporta, :disabled => true %>
                      <%= f.label :audioconferenciaReporta%>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :compania, :disabled => true %>
                      <%= f.label :compania%>
                    </div>
                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>

                  <div class="form-group" >
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :polizaContrato, :disabled => true %>
                      <%= f.label "Poliza o Contrato"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="No. de contratro o No. de poliza">?</button>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :descripcionEmergencia, :disabled => true %>
                      <%= f.label "Descripcion Emergencia"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Me puede describir en que consiste la emergencia">?</button>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :identificarSistema, :disabled => true %>
                      <%= f.label "Identificar Sistema"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Puede ayudarme a identificar el sistema, gasoducto o GNC (camion)">?</button>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>




                  <div class="form-group" >


                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :referencia, :disabled => true %>
                      <%= f.label :referencia%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Me puede proporcionar un punto de referencia">?</button>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :comentariosExtra, :disabled => true %>
                      <%= f.label "Comentarios Extra"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Su reporte sera atendido por el operador correspondiente, ¿desea comentar algo mas?">?</button>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :avisoNombre, :disabled => true %>
                      <%= f.label "Aviso Nombre"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Se dio aviso a: (Nombre)">?</button>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :avisoFecha, :disabled => true %>
                      <%= f.label "Aviso Fecha"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Se dio aviso a: (Fecha)">?</button>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>


                  <div class="form-group" >
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :notificoNombre, :disabled => true %>
                      <%= f.label "Notifico Nombre"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Se notifico a (Nombre)">?</button>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :notificoFechaHora, :disabled => true %>
                      <%= f.label "Notifico Fecha"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Se notifico a (Fecha)">?</button>
                    </div>

                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :rllsOperador, :disabled => true %>
                      <%= f.label "R Llegada Sitio Op"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Reporte de llegada al sitio (Nombre del operador)">?</button>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :rllsFechaHora, :disabled => true %>
                      <%= f.label "R Llegada Sitio Fecha"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Reporte de llegada al sitio (Fecha + Hora)">?</button>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :tiempoRespuesta, :disabled => true %>
                      <%= f.label "Tiempo respuesta"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Tiempo de respuesta a la emergencia">?</button>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>








                  <div class="form-group" >
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :notificacionLlegadaSitio, :disabled => true %>
                      <%= f.label "Notificacion llegada al sitio"%>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :rteOperador, :disabled => true %>
                      <%= f.label "R Fin Emergencia"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Reporte de terminacion de la emergencia (Operador)">?</button>
                    </div>

                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :rteFechaHora, :disabled => true %>
                      <%= f.label "R Fin  Emergencia Fecha"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Reporte de terminacion de la emergencia (Fecha + Hora)">?</button>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :situacionEmergencia, :disabled => true %>
                      <%= f.label "Situacion de la emergencia"%>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>



                  <div class="form-group" >
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :duracionEmeregencia, :disabled => true %>
                      <%= f.label "Duracion emergencia"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Tiempo de duracion de la emergencia">?</button>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :faltaSuministroGas, :disabled => true %>
                      <%= f.label "Falta suministro gas"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Si reporta que falta suministro de gas preguntar desde que hora no tienen gas, si hay olor o ruido">?</button>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :sucursal, :disabled => true %>
                      <%= f.label :sucursal%>
                    </div>

                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :tipoLlamada, :disabled => true %>
                      <%= f.label :tipoLlamada%>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :codigo, :disabled => true %>
                      <%= f.label :codigo%>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :horaEnlace, :disabled => true %>
                      <%= f.label "Hora enlace"%>
                    </div>
                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>



                  <div class="form-group" >
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :medioSeEntero, :disabled => true %>
                      <%= f.label "Medio se entero"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Por cual medio se entero de la compañia o de nuestros servicios">?</button>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :terminoChat, :disabled => true %>
                      <%= f.label "Termino del chat"%>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :codigoAcceso, :disabled => true %>
                      <%= f.label "Codigo de acceso"%>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :codigoOrganizador, :disabled => true %>
                      <%= f.label "Codigo de organizador"%>
                    </div>
                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>



                  <div class="form-group" >

                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :tipoDelito, :disabled => true %>
                      <%= f.label "Tipo Delito"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Tipo de delito o acto denunciado">?</button>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :puestoInvolucrado, :disabled => true %>
                      <%= f.label "Puesto involucrado"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Personal puesto o departamento involucrado">?</button>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :resultadoEstatus, :disabled => true %>
                      <%= f.label "Resultado o estatus"%>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :emailContacto, :disabled => true %>
                      <%= f.label "Email contacto"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Email del contacto informado en caso de solicitar la grabacion">?</button>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :marca, :disabled => true %>
                      <%= f.label :marca%>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :modelo, :disabled => true %>
                      <%= f.label :modelo%>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :serie, :disabled => true %>
                      <%= f.label "No serie"%>
                    </div>

                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>






                  <div class="form-group" >

                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :beneficiario, :disabled => true %>
                      <%= f.label "Nombre beneficiario"%>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :contactoBeneficiario, :disabled => true %>
                      <%= f.label "Contacto beneficiario"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Persona a contactar por parte del beneficiario">?</button>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :nombreFiado, :disabled => true %>
                      <%= f.label "Nombre del fiado"%>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :puestoFiado, :disabled => true %>
                      <%= f.label "Puesto del fiado"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Puesto que desempeña el fiado">?</button>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :montoReportar, :disabled => true %>
                      <%= f.label "Monto a reportar"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Monto aproximado a reportar">?</button>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :enlazadaCorrectamente, :disabled => true %>
                      <%= f.label "Enlazada correctamente"%>
                    </div>
                  </div>
                  <br>
                  <div class="hr-line-dashed"></div>

                  <div class="form-group" >

                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :intentosEnlace, :disabled => true %>
                      <%= f.label "No. intentos"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Numero de intentos para enlace">?</button>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :duracionLlamada, :disabled => true %>
                      <%= f.label "Duracion llamada"%>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :origenCodigoGami, :disabled => true %>
                      <%= f.label "Origen GAMI"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="En donde se origino el codigo GAMI">?</button>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :codigoGami, :disabled => true %>
                      <%= f.label "Codigo GAMI"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Que codigo GAMI reporta">?</button>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :tipoEmergencia, :disabled => true %>
                      <%= f.label "Tipo emergencia"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Que tipo de emergencia tiene, preguntar en caso de codigo amarillo y rojo">?</button>
                    </div>
                    <div class="checkbox checkbox-success checkbox-inline">
                      <%= f.check_box :empresaCodigoGami, :disabled => true %>
                      <%= f.label "Empresa Gami"%>
                      <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Nombre de la empresa a la que se da aviso de codigo GAMI">?</button>
                    </div>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>

                <div class="form-group" >
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :nomenclaturaSistema, :disabled => true %>
                    <%= f.label "Nomenclatura del sistema"%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Nomenclatura del sistema que reporta">?</button>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :personaRecibe, :disabled => true %>
                    <%= f.label "Persona recibe"%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Nombre de la persona que recibira al tecnico y sellara la WO una vez concluido el servicio">?</button>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :razonSocial, :disabled => true %>
                    <%= f.label "Razon social"%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :rfc, :disabled => true %>
                    <%= f.label :rfc%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :ticketCliente, :disabled => true %>
                    <%= f.label "Ticket cliente"%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Numero de ticket del cliente">?</button>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :relacionPaciente, :disabled => true %>
                    <%= f.label "Relacion con paciente"%>
                  </div>
                </div>



                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group" >
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :lugarTumor, :disabled => true %>
                    <%= f.label "Lugar del tumor"%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Lugar donde tiene el tumor">?</button>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :institucionAtiende, :disabled => true %>
                    <%= f.label "Institucion atiende"%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Institucion donde se atiende">?</button>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :medicoTratante, :disabled => true %>
                    <%= f.label "Medico tratante"%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Nombre del medico tratante">?</button>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :programaInteres, :disabled => true %>
                    <%= f.label "Programa de interes"%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :club, :disabled => true %>
                    <%= f.label :club%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Club en el que juega">?</button>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :handicap, :disabled => true %>
                    <%= f.label :handicap%>
                  </div>
                </div>


                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group" >
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :redConecta, :disabled => true %>
                    <%= f.label "Red conecta"%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Red a la que intenta conectarse">?</button>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :intensidadSenal, :disabled => true %>
                    <%= f.label "Intensidad de señal"%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Intensidad de su señal. ALTA, BUENA, BAJA, NULA, si es baja o nula pregutar por su ubicacion fisica">?</button>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :ubicacionFisica, :disabled => true %>
                    <%= f.label "Ubicacion fisica"%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :ipv4, :disabled => true %>
                    <%= f.label :ipv4%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :macAddress, :disabled => true %>
                    <%= f.label :macAddress%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :hotel, :disabled => true %>
                    <%= f.label :hotel%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :habitacion, :disabled => true %>
                    <%= f.label :habitacion%>
                  </div>
                </div>


                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group" >
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :usuario, :disabled => true %>
                    <%= f.label :usuario%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :contrasena, :disabled => true %>
                    <%= f.label :contrasena%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :tiempoContrato, :disabled => true %>
                    <%= f.label "Tiempo contrato"%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Por cuanto tiempo contrato la señal de internet">?</button>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :dispositivo, :disabled => true %>
                    <%= f.label :dispositivo%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Con que dispositivo intenta conectarse a internet">?</button>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :acuse, :disabled => true %>
                    <%= f.label :acuse%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Se recibio acuse de recibo?">?</button>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :fechaCirugia, :disabled => true %>
                    <%= f.label "Fecha + Hora cirugia"%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :hospital, :disabled => true %>
                    <%= f.label :hospital%>
                  </div>
                </div>





                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group" >
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :tipoCirugia, :disabled => true %>
                    <%= f.label "Tipo de cirugia"%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :especidalidad, :disabled => true %>
                    <%= f.label :especidalidad%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :paciente, :disabled => true %>
                    <%= f.label "Nombre del paciente"%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :cargoPersona, :disabled => true %>
                    <%= f.label "Cargo persona"%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Cargo de la persona que llama">?</button>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :telefonoMedico, :disabled => true %>
                    <%= f.label "Telefono del medico"%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :equipoEspecial, :disabled => true %>
                    <%= f.label "Equipo especial"%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Se requiere equipo especial">?</button>
                  </div>

                </div>

                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group" >
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :telefonoPaciente, :disabled => true %>
                    <%= f.label "Telefono del paciente"%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :procedimiento, :disabled => true %>
                    <%= f.label "Nombre del procedimiento"%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :fechaProcedimiento, :disabled => true %>
                    <%= f.label "Fecha procedimiento"%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :equipoDetenido, :disabled => true %>
                    <%= f.label "Equipo detenido"%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :fianza, :disabled => true %>
                    <%= f.label "No de fianza"%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :inclusion, :disabled => true %>
                    <%= f.label :inclusion%>
                  </div>

                </div>




                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group" >
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :codigoSeguridad, :disabled => true %>
                    <%= f.label "Codigo de seguridad"%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Codigo de seguridad o No de control">?</button>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :lineaValidacion, :disabled => true %>
                    <%= f.label "Linea de validacion"%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :tipoPoliza, :disabled => true %>
                    <%= f.label "Tipo de poliza"%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :telefonoFiado, :disabled => true %>
                    <%= f.label "Telefono del fiado"%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :direccionFiado, :disabled => true %>
                    <%= f.label "Direccion del fiado"%>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :lugarFianza, :disabled => true %>
                    <%= f.label "Lugar fianza"%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Codigo de seguridad o No de control">?</button>
                  </div>

                </div>



                <br>
                <div class="hr-line-dashed"></div>
                <div class="form-group" >
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :vendedorFianza, :disabled => true %>
                    <%= f.label "Vendedor de fianza"%>
                    <button type="button" class="btn btn-danger btn-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Nombre de la persona que vendio la fianza">?</button>
                  </div>
                  <div class="checkbox checkbox-success checkbox-inline">
                    <%= f.check_box :formaPagoFianza, :disabled => true %>
                    <%= f.label "Forma pago de la fianza"%>
                  </div>


                </div>



                <br><br>
            <% end %>



          </div>

          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <a href="<%= url_for :controller => 'mensaje_configuracions', :action => 'index' %>">
                <button class="btn btn-outline btn-danger btn-rounded" type="button"><i class="fa fa-list-ol"></i>&nbsp;Listado</button>
              </a>

              <a href="<%= url_for :controller => 'mensaje_configuracions', :action => 'edit', :id => @mensaje_configuracion.id %>">
                <button class="btn btn-outline btn-success btn-rounded" type="button"><i class="fa fa-pencil"></i>&nbsp;Editar</button>
              </a>

              <a href="<%= url_for :controller => 'mensaje_configuracions', :action => 'new' %>">
                <button class="btn btn-outline btn-warning btn-rounded" type="button"><i class="fa fa-plus"></i>&nbsp;Nuevo</button>
              </a>
            </div>



          </div>
          <br><br>




        </div>
      </div>
    </div>
  </div>
</div>





