<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @form2.cliente_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @form2.usuario_id %>
</p>

<p>
  <strong>Field1:</strong>
  <%= @form2.field1 %>
</p>

<p>
  <strong>Field2:</strong>
  <%= @form2.field2 %>
</p>

<p>
  <strong>Field3:</strong>
  <%= @form2.field3 %>
</p>

<p>
  <strong>Field4:</strong>
  <%= @form2.field4 %>
</p>

<p>
  <strong>Field5:</strong>
  <%= @form2.field5 %>
</p>

<p>
  <strong>Field6:</strong>
  <%= @form2.field6 %>
</p>

<p>
  <strong>Field7:</strong>
  <%= @form2.field7 %>
</p>

<p>
  <strong>Field8:</strong>
  <%= @form2.field8 %>
</p>

<p>
  <strong>Field9:</strong>
  <%= @form2.field9 %>
</p>

<p>
  <strong>Field10:</strong>
  <%= @form2.field10 %>
</p>

<p>
  <strong>Field11:</strong>
  <%= @form2.field11 %>
</p>

<p>
  <strong>Field12:</strong>
  <%= @form2.field12 %>
</p>

<p>
  <strong>Field13:</strong>
  <%= @form2.field13 %>
</p>

<p>
  <strong>Field15:</strong>
  <%= @form2.field15 %>
</p>

<p>
  <strong>Field16:</strong>
  <%= @form2.field16 %>
</p>

<p>
  <strong>Field17:</strong>
  <%= @form2.field17 %>
</p>

<p>
  <strong>Field18:</strong>
  <%= @form2.field18 %>
</p>

<p>
  <strong>Field19:</strong>
  <%= @form2.field19 %>
</p>

<p>
  <strong>Field20:</strong>
  <%= @form2.field20 %>
</p>

<%= link_to 'Edit', edit_form2_path(@form2) %> |
<%= link_to 'Back', form2s_path %>
