<div id="right-sidebar">
    <div class="sidebar-container">

        <ul class="nav nav-tabs navs-3">

            <li class="active" id="lifaq">
                <a data-toggle="tab" href="#tabfaq">
                    FAQ
                </a>
            </li>
            <li><a data-toggle="tab" href="#tab-2">
                  Escalamiento
                </a>
            </li>

        </ul>

        <div class="tab-content">


            <div id="tabfaq" class="tab-pane active">

                <div class="sidebar-title">
                    <h3> <i class="fa fa-comments-o"></i> Frequently Asked Questions</h3>
                    <small><i class="fa fa-tim"></i> Existen <%=@cuenta.asks.count%> Preguntas</small>
                </div>

                <div>

                    <div class="sidebar-message">

                      <% @cuenta.asks.order(voting: :desc).each_with_index do |ask, index| %>
                          <div class="faq-item">
                            <div class="row">
                              <div class="col-md-7">
                                <a data-toggle="collapse" href="#faq-<%=index.to_s%>" class="faq-question">¿<%=ask.question%>?</a>
                                <small>Preguntada by <strong><%=ask.asked_by%></strong> <i class="fa fa-clock-o"></i> <%=ask.created_at.to_s%></small>
                              </div>
                              <div class="col-md-2">
                                <span class="small font-bold"><%=ask.answer_by%></span>
                                <div class="tag-list">
                                  <span class="tag-item"><%=ask.subject%></span>
                                </div>
                              </div>
                              <div class="col-md-2 text-right">
                                <span class="small font-bold">Preguntado </span><br/>
                                <%=ask.voting%>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-lg-11">
                                <div id="faq-<%=index.to_s%>" class="panel-collapse collapse">
                                  <div class="faq-answer">
                                    <p>
                                      <%=ask.answer%>
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      <%end%>
                    </div>
                </div>

            </div>

          <div id="tab-2" class="tab-pane">

            <div class="sidebar-title">
              <h3> <i class="fa fa-cube"></i> Imagenes de escalamiento</h3>
              <small><i class="fa fa-tim"></i> Existen <%=@cuenta.scalings.count%> imagenes</small>
            </div>

            <ul class="sidebar-list">
              <% @cuenta.scalings.order(:id).each_with_index do |scaling, index| %>
                  <li>
                    <a href="#">
                      <h4><%=scaling.name%></h4>
                      <div class="lightBoxGallery">
                        <%if scaling.image1.url != '/images/original/missing.png'%>
                            <a href="<%= image_path(scaling.image1.url) %>" data-gallery="">
                              <img src="<%= image_path(scaling.image1.url(:thumb)) %>"></a>
                        <%end%>
                        <%if scaling.image2.url != '/images/original/missing.png'%>
                            <a href="<%= image_path(scaling.image2.url) %>" data-gallery="">
                              <img src="<%= image_path(scaling.image2.url(:thumb)) %>"></a>
                        <%end%>
                        <%if scaling.image3.url != '/images/original/missing.png'%>
                            <a href="<%= image_path(scaling.image3.url) %>" data-gallery="">
                              <img src="<%= image_path(scaling.image3.url(:thumb)) %>"></a>
                        <%end%>







                        <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                        <div id="blueimp-gallery" class="blueimp-gallery">
                          <div class="slides"></div>
                          <h3 class="title"></h3>
                          <a class="prev">‹</a>
                          <a class="next">›</a>
                          <a class="close">×</a>
                          <a class="play-pause"></a>
                          <ol class="indicator"></ol>
                        </div>
                      </div>
                    </a>

                  </li>

              <%end%>



            </ul>

          </div>
        </div>

    </div>



</div>

