<div class="row border-bottom" xmlns="http://www.w3.org/1999/html">
    <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">

          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>

        </div>
      <div class="navbar-header">

        <%= form_tag  captures_consultar_path(:id), method: "patch" do |f| %>
            <div>
            <%= select_tag :cliente_id, options_for_select(@clientes.order(:nombreComercial).collect { |c|
                                                           [(c.nombreComercial.nil? == true ? (c.nombre):(c.nombreComercial)) << ' - ' << c.datosgenerale.frase, c.id ] }, @cliente.try(:id)),  { class:"chosen-select", style: "width:700px;", :required => true } %>    

              <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                  <i class="fa fa-search"></i>
              <% end %>
              </div>



        <%end%> 
      </div>



        <ul class="nav navbar-top-links navbar-right">
          <%if !@cliente.nil?%>
              <li>
                <a class="right-sidebar-toggle">
                  <i class="fa fa-question-circle"></i>
                </a>
              </li>
          <%end%>
            <%if !@cliente.nil?%>
              <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                  <i class="fa fa-group"></i>
                  <% if @cliente.notifications.active(@cliente).count > 0%>
                    <span class="label label-warning"><%=@cliente.notifications.active(@cliente).count%></span>
                  <%end%>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                  <%if @cliente.notifications.count >0  %>
                      <li>
                          <div>
                            <i class="fa fa-info-circle"></i> Sin notificaciones
                            <span class="pull-right text-muted small"><%= distance_of_time_in_words(DateTime.now, @cliente.notifications.last.duedatetime + DateTime.now.utc_offset*(-1).second).to_s  %>

                            </span>
                          </div>
                      </li>
                      <li class="divider"></li>
                  <%end%>
                  <% @cliente.notifications.active(@cliente).each do |notification| %>
                      <li>
                        <div class="dropdown-messages-box">
                          <a href="#" class="pull-left">
                            <img alt="image" class="img-circle" src="<%= image_path('profile.jpg') %>" />
                          </a>
                          <div class="media-body ">
                            <small class="pull-right">&nbsp;&nbsp;&nbsp;<%= distance_of_time_in_words(notification.startdatetime + DateTime.now.utc_offset*(-1).second, DateTime.now).to_s  %></small>
                            <strong><%=notification.person.nombre%></strong>&nbsp;<%=notification.event.event%>
                            <%=notification.notification.nil? == false ? (notification.notification):('') %>
                            <strong>
                              <%=notification.recipient.nil? == false ? (notification.recipient.nombre):('') %>
                            </strong><br/>
                            <small class="text-muted">Vence <%= distance_of_time_in_words(DateTime.now, notification.duedatetime + DateTime.now.utc_offset*(-1).second).to_s  %>

                            </small>
                            <small class="pull-right">&nbsp;&nbsp;&nbsp;

                            </small>
                            <small class="pull-right">
                              <%= link_to edit_notification_path(notification), class:"text-muted" do%>
                                  <i class="fa fa-pencil"></i>
                              <% end %>
                              <%= link_to notification, method: :delete, class:"text-muted", data: { confirm: '¿Está seguro?'} do%>
                                  <i class="fa fa-trash"></i>
                              <% end %>
                            </small>


                          </div>
                        </div>
                      </li>
                      <li class="divider"></li>
                  <%end%>
                  <li>
                    <div class="text-center link-block">

                      <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
                        Crear notificacion</button>


                    </div>
                  </li>
                </ul>
              </li>
            <%end%>
          <%if !@cliente.nil?%>
              <%if @cliente.datosgenerale.tipocambio%>
                  <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                      <i class="fa fa-bell"></i>  <span class="label label-primary">1</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                      <li>
                        <a href="#">
                          <div>
                            <i class="fa fa-usd"></i> TC Dollar: <%=@cliente.tipoCambio%>
                            <span class="pull-right text-muted small">

                              <%= @cliente.tipocambio_updated_at.nil? == true ? (""):(distance_of_time_in_words(DateTime.now,@cliente.tipocambio_updated_at).to_s)%>
                            </span>
                          </div>
                        </a>
                      </li>

                      <li class="divider"></li>
                      <li>
                        <div class="text-center link-block">
                          <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal2">
                            Actualizar</button>
                        </div>
                      </li>
                    </ul>
                  </li>
              <%end%>
          <%end%>

            <li>
                <%=link_to "Salir",  destroy_usuario_session_path, method: :delete,data: { confirm: '¿Está seguro?'}%>
            </a>
        </li>

    </ul>
</nav>
</div>

<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
  <%if !@cliente.nil?%>
    <%= render 'notifications/form' %>
  <%end%>
</div>
<div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <%if !@cliente.nil?%>
      <%= render 'layouts/form' %>
  <%end%>
</div>


<% content_for :javascript do %>

    <script type="text/javascript">


        var config = {
            '.chosen-select'           : {},
            '.chosen-select-deselect'  : {allow_single_deselect:true},
            '.chosen-select-no-single' : {disable_search_threshold:10},
            '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
            '.chosen-select-width'     : {width:"95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }



        $('#myModal').on('shown.bs.modal', function (e) {
            $('.clockpicker').clockpicker();
        })

    </script>
<% end %>