<div class="row border-bottom white-bg">
   <!-- <nav class="navbar navbar-static-top" role="navigation"> -->
       <nav class="navbar navbar-fixed-top" role="navigation">

    <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <i class="fa fa-reorder"></i>
        </button>
        <a href="<%= url_for home_index_path%> " class="navbar-brand">CALL</a>

    </div>
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">

            <li class="active">
                <a aria-expanded="false" role="button" href="#"> Centro de administracion de llamadas</a>
            </li>

        <li class="dropdown">
            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Catalogos <span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="<%= url_for clientes_path%> ">Clientes</a></li>
              <li><a href="<%= url_for sucursals_path%> ">Sucursales</a></li>
              <li><a href="<%= url_for contactos_path%>">Contactos</a></li>
              <li><a href="<%= url_for direccions_path%>">Direcciones</a></li>
              <li><a href="<%= url_for horarios_path%>">Horarios</a></li>
              <li><a href="<%= url_for datosgenerales_path%>">Datos generales</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Operativo <span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="<%= url_for mensaje_configuracions_path%>">Capturas</a></li>
                <li><a href="">Menu item</a></li>
                <li><a href="">Menu item</a></li>
                <li><a href="">Menu item</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Configuracion <span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="<%= url_for usuarios_path%>">Usuarios</a></li>

            </ul>
        </li>
    </ul>

    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
          <i class="fa fa-user"></i>  <span class="label label-warning"></span>
        </a>
        <ul class="dropdown-menu dropdown-messages">
          <li>
            <div class="dropdown-messages-box">

              <a href="#" class="pull-left">
                <img alt="image" class="img-circle" src="<%= image_path('a7.jpg') %>" />
              </a>
              <div class="media-body">

                    <strong>Firmado</strong> como: <strong>
                        <%= current_usuario.email%>
                    </strong><br/>
                <small class="text-muted">Ultima sesion: <%=current_usuario.last_sign_in_at%></small>
                    <i class="fa fa-sign-out">
                      <strong>
                      <%=link_to "Log Out", destroy_usuario_session_path, method: :delete%>
                          </strong>
                    </i>

              </div>

            </div>
          </li>
        </ul>
      </li>





    </ul>



</div>
        </nav>
        </div>
<br><br><br>


<% content_for :javascript do %>

    <script type="text/javascript">


        var config = {
        '.chosen-select'           : {},
        '.chosen-select-deselect'  : {allow_single_deselect:true},
        '.chosen-select-no-single' : {disable_search_threshold:10},
        '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
        '.chosen-select-width'     : {width:"95%"}
        }
        for (var selector in config) {
        $(selector).chosen(config[selector]);
        }


    </script>
<% end %>
